body{
	background: url(../images/001_r.png) no-repeat center 110px;
}
@import 'reset.css';
@import './publichead.scss';
@import './footer.scss';
.content_r{
	padding-top: 11px;
	.main{
	    width: 1180px;
		margin: 0 auto;
		overflow: hidden;
		.aside-left{
			width: 200px;
			height: 372px;
			background: #f16c34;
			float: left;
			ul{
				width: 200px;
				height: 372px;
				position: relative;
				.show{
					background-color: #fff;
				}
				li{
					width: 200px;
					height: 62px;
					.safe{
						width: 606px;
						height: 372px;
						position: absolute;
						z-index: 5;
						left: 199px;
						top: 0;
						background: url(../images/026_r.png) no-repeat 0 0;
						background-size: 606px 372px;
						padding-left: 28px;
						box-sizing: border-box;
						display: none;
						.title{
							margin-top: 20px;
							overflow: hidden;
							.left-line{
								width: 3px;
								height: 16px;
								background-color: #f36c28;
								float: left;
							}
							h4{
								font-size: 16px;
								color: #333333;
								font-weight: bold;
								position: relative;
								top: -3px;
								margin-left: 11px;
							}
						}
						.bottom-line{
							width: 540px;
							height: 1px;
							background-color: #dddddd;
							margin-top: 10px;
						}
						.safe-nav{
							margin-top: 10px;
							overflow: hidden;
							margin-bottom: 55px;
							a{
								color: #171717;
								font-size: 14px;
								float: left;
								margin-right: 20px;
								&:hover{
									color: #f16c34;
								}
							}
						}
						.safebox{
							width: 496px;
							height: 155px;
							box-shadow: 0 0 5px #e0e0e0;
							margin-top: 14px;
							position: relative;
							overflow: hidden;
							padding-left: 48px;
							box-sizing: border-box;
							.safebox-left{
								width: 256px;
								height: 155px;
								float: left;
								background-color: #fff;
								em{
									width: 95px;
									height: 20px;
									display: block;
									background-color: #fcae51;
									color: #fefaf5;
									text-align: center;
									line-height: 20px;
									position: absolute;
									left: -22px;
									top: 17px;
									transform: rotateZ(-45deg);
								}
								h3{
									width: 248px;
									height: 53px;
									font-size: 18px;
									color: #ff7d1c;
									padding-top: 25px;
									box-sizing: border-box;
									border-bottom: 1px solid #dddddd;
									background: url(../images/027_r.png) no-repeat 166px 7px;
								}
								h5{
									line-height: 31px;
									color: #616161;
								}
								p{
									background: url(../images/028_r.png) no-repeat 0 2px;
									margin-bottom: 3px;
									padding-left: 15px;
								}
							}
							.safebox-right{
								width: 192px;
								height: 155px;
								float: left;
								background-color: #f7f7f7;
								p{
									color: #f36c28;
									margin: 28px auto 5px;
									width: 100px;
									font-size: 13px;
									text-align: center;
								}
								h2{
									color: #f36c28;
									line-height: 45px;
									margin: 0 auto;
									width: 100px;
									text-align: center;
									font-size: 22px;
								}
								a{
									width: 130px;
									height: 34px;
									color: #fff;
									background-color: #f36c28;
									display: block;
									text-align: center;
									line-height: 34px;
									font-size: 14px;
									border-radius: 3px;
									margin: 0 auto;
								}
							}
						}
					}
					&>a{
						display: block;
						width: 200px;
						height: 62px;
						line-height: 62px;
						font-size: 16px;
						color: #ffffff;
						padding-left: 37px;
						box-sizing: border-box;
						i{
							width: 21px;
							height: 21px;
							display: inline-block;
							position: relative;
							top: 6px;
							margin-right: 25px;
						}
					}
					&:nth-child(1) i{
						background: url(../images/014_r.png) no-repeat 0 0;
					}
					&:nth-child(2) i{
						background: url(../images/015_r.png) no-repeat 0 0;
					}
					&:nth-child(3) i{
						background: url(../images/016_r.png) no-repeat 0 0;
					}
					&:nth-child(4) i{
						background: url(../images/017_r.png) no-repeat 0 0;
					}
					&:nth-child(5) i{
						background: url(../images/018_r.png) no-repeat 0 0;
					}
					&:nth-child(6) i{
						background: url(../images/019_r.png) no-repeat 0 0;
					}
				}
				
			}
		}
		.banner{
			width: 720px;
			height: 372px;
			position: relative;
			float: left;
			margin-left: 10px;
			overflow: hidden;
			img{
				position: absolute;
				opacity: 0.2;
				z-index: 1;
			}
			.left_r{
				width: 30px;
				height: 50px;
				background: rgba(0, 0, 0, 0.1);
				position: absolute;
				left: 0;
				top: 160px;
				cursor: pointer;
				z-index: 4;
				i{
					width: 10px;
					height: 16px;
					display: block;
					background: url(../images/023_r.png) no-repeat 0 0;
					margin-left: 10px;
					margin-top: 17px;
				}
				&:hover{
					background: rgba(0, 0, 0, 0.5);
				}
			}
			.right_r{
				width: 30px;
				height: 50px;
				background: rgba(0, 0, 0, 0.1);
				position: absolute;
				right: 0;
				top: 160px;
				z-index: 4;
				cursor: pointer;
				i{
					width: 10px;
					height: 16px;
					display: block;
					background-image: url(../images/023_r.png);
					background-position-x: 10px;
					margin-left: 10px;
					margin-top: 17px;
				}
				&:hover{
					background: rgba(0, 0, 0, 0.5);
				}
			}
			ul{
				position: absolute;
				cursor: pointer;
				bottom: 21px;
				left: 345px;
				z-index: 4;
				li{
					float: left;
					width: 10px;
					height: 10px;
					background: rgba(255,255,255,1);
					border-radius: 50%;
					&:nth-child(1){
						margin-right: 10px;
					}
				}
			}
		}
		.aside-right{
			width: 240px;
			height: 372px;
			margin-left: 10px;
			float: left;
			overflow: hidden;
			img{
				width: 240px;
				height: 372px;
			}
		}
	}
}

.group{
	margin-top: 30px;
	overflow: hidden;
	.main{
		width: 1180px;
		margin: 0 auto;
		ul{
			overflow: hidden;
			float: left;
			li{
				width: 276px;
				height: 276px;
				float: left;
				margin-right: 10px;
				box-shadow: 0 0 4px 0 hsla(0,0%,60%,.4);
				position: relative;
				z-index: 1;
				.mask-title{
					width: 276px;
					height: 80px;
					background-color: #fff;
					position: absolute;
					left: 0;
					top: 196px;
					z-index: 2;
					p{
						width: 180px;
						font-size: 16px;
						margin: 14px auto 0;
						text-align: center;
						color: #171717;
					}
					h6{
						width: 150px;
						font-size: 20px;
						margin: 5px auto 0;
						color: #f16c34;
						text-align: center;
					}
				}
				.mask-con{
					width: 276px;
					height: 276px;
					background: rgba(0, 0, 0, 0.5);
					position: absolute;
					top: 276px;
					left: 0;
					z-index: 3;
					h6{
						width: 150px;
						font-size: 16px;
						margin: 62px auto 0;
						color: #ffffff;
						text-align: center;
					}
					h4{
						width: 150px;
						font-size: 20px;
						margin: 0 auto;
						line-height: 34px;
						color: #ffffff;
						text-align: center;
					}
					p{
						width: 120px;
						font-size: 14px;
						margin: 8px auto 0;
						color: #ffffff;
						line-height: 20px;
						text-align: center;
					}
					a{
						width: 160px;
						height: 34px;
						background-color: #f16c34;
						color: #ffffff;
						line-height: 34px;
						text-align: center;
						border-radius: 4px;
						font-size: 14px;
						display: block;
						margin : 23px auto 0;
						&:hover{
							background-color: #f05a23;
						}
					}
				}
			}
		}
		.group-right{
			width: 321px;
			height: 276px;
			overflow: hidden;
			float: left;
			background: url(../images/032_r.png) no-repeat 0 0;
			position: relative;
			.groupshow{
				visibility: visible !important;
				top: 0 !important;

			}
			.groupbox{
				overflow: hidden;
				width: 321px;
				height: 167px;
				position: relative;
			}
			.group1{
				overflow: hidden;
				position: absolute;
				top: 167px;
				left: 0;
				visibility: hidden;
				transition: top .3s linear;
			}
			.group2{
				overflow: hidden;
				position: absolute;
				top: 167px;
				left: 0;
				visibility: hidden;
				transition: top .3s linear;
			}
			.group3{
				overflow: hidden;
				position: absolute;
				top: 167px;
				left: 0;
				visibility: hidden;
				transition: top .3s linear;
			}
			img{
				margin-left: 20px;
				margin-top: 42px;
				width: 96px;
				height: 96px;
				float: left;
				margin-right: 12px;
			}
			h3{
				float: left;
				margin-top: 42px;
				font-size: 22px;
				color: #fff;
			}
			p{
				float: left;
				font-size: 14px;
				color: #fff;
				margin-bottom: 28px;
			}
			.groupline{
				width: 282px;
				height: 1px;
				background-color: #cccccc;
				margin: 0 auto;
			}
			.groupimg{
				margin-top: 27px;
				margin-left: 30px;
				overflow: hidden;
				img{
					width: 50px;
					height: 50px;
					float: left;
					margin: 0 21px 0 0;
					border-radius: 8px;
					cursor: pointer;
				}
			}
		}
	}
}

.section{
	margin-top: 51px;
	.main{
		width: 1180px;
		margin: 0 auto;
		h2{
			position: relative;
			img{
				margin: 0 auto;
				width: 508px;
				height: 67px;
			}
			a{
				float: right;
				font-size: 16px;
				color: #f16c34;
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
		.topic{
			width: 1180px;
			height: 735px;
			margin-top: 44px;
			img{
				float: right;
				transition: all .5s ease-in;
			}
			.topic-left{
				overflow: hidden;
				width: 585px;
				height: 500px;
				float: left;
				margin-right: 10px;
				margin-bottom: 10px;
				background-color: #fff;
				position: relative;
				box-shadow: 0 2px 4px 0 hsla(0,0%,60%,.4);
				.topicmask{
					width: 100%;
					height: 180px;
					padding-left: 58px;
					box-sizing: border-box;
					position: absolute;
					left: 0;
					bottom: 0;
					h4{
						font-size: 32px;
						color: #fff;
						background: url(../images/045_r.png) no-repeat 0 0;
					}
					p{
						font-size: 16px;
						color: #fff;
						margin-top: 8px;
					}
					h5{
						font-size: 24px;
						color: #fff;
						margin-top: 16px;
					}
					.insure{
						width: 160px;
						height: 44px;
						font-size: 16px;
						color: #fff;
						background-color: #f36c28;
						border-radius: 4px;
						text-align: center;
						line-height: 44px;
						position: absolute;
						right: 71px;
						bottom: 40px;
					}
				}
			}
			.topic-right{
				overflow: hidden;
				width: 585px;
				height: 245px;
				float: left;
				margin-bottom: 10px;
				background-color: #fff;
				box-shadow: 0 2px 4px 0 hsla(0,0%,60%,.4);
				.topicmask2{
					padding-left: 40px;
					h4{
						font-size: 18px;
						color: #333333;
						margin-top: 36px;
					}
					p{
						width: 135px;
						font-size: 16px;
						color: #666666;
						margin-top: 17px;
					}
					h5{
						font-size: 26px;
						margin-top: 8px;
						color: #f36c28;
					}
					.insure{
						width: 130px;
						height: 34px;
						font-size: 16px;
						color: #fff;
						background-color: #f36c28;
						border-radius: 2px;
						text-align: center;
						line-height: 34px;
						margin-top: 10px;
					}
				}
			}
			.topic-bot{
				margin-bottom: 60px;
				overflow: hidden;
				width: 585px;
				height: 225px;
				float: left;
				background-color: #fff;
				margin-right: 10px;
				box-shadow: 0 2px 4px 0 hsla(0,0%,60%,.4);
				.topicmask2{
					padding-left: 40px;
					h4{
						font-size: 18px;
						color: #333333;
						margin-top: 36px;
					}
					p{
						width: 135px;
						font-size: 16px;
						color: #666666;
						margin-top: 17px;
					}
					h5{
						font-size: 26px;
						margin-top: 8px;
						color: #f36c28;
					}
					.insure{
						width: 130px;
						height: 34px;
						font-size: 16px;
						color: #fff;
						background-color: #f36c28;
						border-radius: 2px;
						text-align: center;
						line-height: 34px;
						margin-top: 10px;
					}
				}
			}
			.topic-bot2{
				overflow: hidden;
				width: 585px;
				height: 225px;
				float: left;
				background-color: #fff;
				box-shadow: 0 2px 4px 0 hsla(0,0%,60%,.4);
				.topicmask2{
					padding-left: 40px;
					h4{
						font-size: 18px;
						color: #333333;
						margin-top: 36px;
					}
					p{
						width: 135px;
						font-size: 16px;
						color: #666666;
						margin-top: 17px;
					}
					h5{
						font-size: 26px;
						margin-top: 8px;
						color: #f36c28;
					}
					.insure{
						width: 130px;
						height: 34px;
						font-size: 16px;
						color: #fff;
						background-color: #f36c28;
						border-radius: 2px;
						text-align: center;
						line-height: 34px;
						margin-top: 10px;
					}
				}
			}
			a{
				width: 100%;
				height: 100%;
			}
		}
	}
}

.fixed{
	width: 40px;
	height: 126px;
	position: fixed;
	right: 5px;
	bottom: 60px;
	z-index: 9;
	ul{
		.fixed1{
			background: url(../images/052_r.png) no-repeat 8px 8px #f36c28;
			position: relative;
		}
		.fixed2{
			overflow: hidden;
			position: relative;
			p{
				width: 40px;
				color: #fff;
				text-align: center;
				margin-top: 3px;
				visibility: hidden;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.fixed3{
			overflow: hidden;
			position: relative;
			cursor: pointer;
			p{
				width: 40px;
				color: #fff;
				text-align: center;
				margin-top: 3px;
				visibility: hidden;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.fixed2 i{
			background: url(../images/053_r.png) no-repeat -110px 0 #f36c28;
		}
		.fixed3 i{
			background: url(../images/053_r.png) no-repeat -110px -46px #f36c28;
		}
		li{
			width: 40px;
			height: 40px;
			background-color: #f36c28;
			margin-bottom: 3px;
			
			.fixopen{
				width: 118px;
				height: 277px;
				background-color: #fff;
				position: absolute;
				top: -100px;
				left: -118px;
				display: none;
				box-shadow: 0 0 9px #ccc;
				img{
					width: 110px;
					height: 108px;
					margin: 8px auto 0;
				}
				p{
					font-size: 12px;
					color: #f36c28;
					line-height: 23px;
					text-align: center;
				}
				.fixline{
					width: 108px;
					height: 1px;
					background-color: #dddddd;
					margin: 0 auto;
				}
			}
			i{
				width: 22px;
				height: 22px;
				display: block;
				margin: 9px auto;
			}
		}
		
	}
}