@import "./base.css";
@import "./bootstrap.min.css";
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top {
    width: 100%;
    height: 100%;
    position: relative;

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .my-video {

            min-width: 100%;
            min-height: 100%;
            display: inline-block;
            vertical-align: baseline;

        }
    }

    .logo {
        position: absolute;
        left: 30px;
        top: 20px;
        width: 210px;
        height: 30px;
    }

    .bottom {
        width: 1000px;
        height: 80px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin: auto;
        overflow: hidden;

        .phone {
            // position: absolute;
            border-right: 2px solid #e0d6ce;
            padding: 0 40px 0 0;
            float: left;
            margin-right: 40px;
            // height: 80px;
            // margin-top: 99px;
            // left: 150px;
            // bottom: 0;
        }

        .txt {
            height: 72px;
            float: left;
            // position: absolute;
            // bottom: 0;
            // right: 320px;
            color: #ffffff;
            pointer-events: none;

            p {
                font-size: 14px;
                line-height: 17px;

            }
        }

        .ewm {
            // position: absolute;
            // right: 180px;
            // bottom: 0;
            float: left;
            margin-left: 40px;

            img {
                width: 80px;
                height: 80px;
            }
        }
    }

    .main {
        width: 700px;
        height: 400px;
        background: #fff url(../images/pic_su/registbg.png) no-repeat right bottom;
        background-size: 300px 300px;
        border-radius: 8px;
        padding: 52px 0 48px 120px;
        position: absolute;
        left: 0;
        top: 90px;
        right: 0;
        margin: auto;
        box-sizing: border-box;

        .statictxt {
            width: 470px;
            font-size: 20px;
            color: #293134;
            text-align: center;

        }

        .input-group {
            margin-top: 15px;   
            span {
                display: block;
                float: left;
                width: 70px;
                height: 38px;
                border: 1px solid #ccc;
                // border-radius: 4px;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
                line-height: 38px;
                text-align: center;
            }

            input {
                float: left;
                outline: 0;
                color: #555;
                height: 38px;
                width: 215px;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                margin-left: -1px;
                text-indent: 20px;
            }

            input:focus {
                border-color: #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                outline-offset: -2px;
            }
        }

        .test{
            width: 285px;
            margin: 25px auto 0;
            box-sizing: border-box;
            margin-top: 30px;
            .left{
                display: inline-block;
                // float: left;
                width: 150px;
                height: 50px;
                border: 1px solid #ccc;
                vertical-align: middle;
                border-radius: 2px;
            }
            .testtxt{
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 6px;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                margin-left: 20px;
                text-align: center;
                height: 40px;
                width: 110px;
                vertical-align: middle;
            }
            .testtxt:focus{
                border-color: #66afe9;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                outline-offset: -2px;
            }
        }
        .regist{
            margin:30px 0 10px 135px;
            // margin-top: 30px;
            // margin-bottom: 10px;
            width: 200px;
            font-size: 22px;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: #fff;
            line-height: 32px;
            background: linear-gradient(47deg,#ff2741,#ff7e8d);
            border-radius: 34px;
            padding: 8px 32px;
            box-sizing: border-box;
            text-align: center;
            border: none;
        }
        input.error{
            border: 1px solid red;
        }
        label.error{
            color: red;
        }
        
       
    }
}