.center-wrap {
  max-width: 1920px;
  min-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 762px;
  background: url(../images/bg-b6865b5733_su.png) repeat-x;
  overflow: hidden;
}

.center-wrap .center-header {
  width: 1190px;
  margin: 10px auto;
  overflow: hidden;
  box-sizing: border-box;
}

.center-wrap .center-header .left-nav {
  float: left;
  width: 368px;
  height: 504px;
  background: url(../images/left-nav-2efa2307e8_su.png) no-repeat;
}

.center-wrap .center-header .left-nav .user-info {
  width: 316px;
  height: 90px;
  margin: 60px auto;
}

.center-wrap .center-header .left-nav .user-info .photo {
  float: left;
}

.center-wrap .center-header .left-nav .user-info .photo img {
  display: inline-block;
  width: 88px;
  height: 88px;
}

.center-wrap .center-header .left-nav .user-info .login-regist {
  width: 192px;
  height: 71px;
  float: left;
}

.center-wrap .center-header .left-nav .user-info .login-regist h3 {
  font-size: 24px;
  margin-bottom: 13px;
  font-weight: 400;
  color: #6e4431;
}

.center-wrap .center-header .left-nav .user-info .login-regist span {
  color: #6e4431;
  font-size: 16px;
}

.center-wrap .center-header .left-nav .user-info .login-regist a {
  display: inline-block;
  width: 60px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #6e4431;
  font-size: 12px;
  cursor: pointer;
  color: #6e4431;
  float: right;
  margin-left: 10px;
}

.center-wrap .center-header .left-nav .nav-list {
  width: 300px;
  margin: 0 auto;
  margin-left: 42px;
  padding-top: 30px;
  position: relative;
}

.center-wrap .center-header .left-nav .nav-list .list-item {
  float: left;
  width: 70px;
  height: 75px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .list-url {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #999;
  text-align: center;
}

.center-wrap .center-header .left-nav .nav-list .list-item .list-url .icon-wrap .h {
  display: none;
}

.center-wrap .center-header .left-nav .nav-list .list-item .f {
  background-position: -35px -68px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .f1 {
  background-position: 0 -68px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .s {
  background-position: -35px 0;
}

.center-wrap .center-header .left-nav .nav-list .list-item .s1 {
  background-position: 0 0;
}

.center-wrap .center-header .left-nav .nav-list .list-item .t {
  background-position: -70px -34px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .t1 {
  background-position: -70px 0;
}

.center-wrap .center-header .left-nav .nav-list .list-item .fo {
  background-position: -35px -34px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .fo1 {
  background-position: 0 -34px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .icon {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 auto;
}

.center-wrap .center-header .left-nav .nav-list .list-item .tit {
  display: inline-block;
  width: 70px;
  height: 24px;
  line-height: 24px;
  margin-top: 5px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .on {
  border-bottom: 2px solid #ecc07d;
  color: #c6a066;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav {
  display: none;
  position: absolute;
  left: -31px;
  top: 100px;
  z-index: 1;
  width: 357px;
  height: 210px;
  background: #382b2f;
  padding: 20px;
  box-sizing: border-box;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .close {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../images/close-2e8caa951b_su.png) no-repeat;
  cursor: pointer;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .close:hover {
  transform: scale(1.2);
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-tit .quick {
  width: 155px;
  border-bottom: 2px solid #c6a066;
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
  padding-bottom: 5px;
  font-weight: 700;
  height: 21px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-tit .quick .time {
  color: #c6a066;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form {
  position: relative;
  font-size: 12px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline {
  margin-bottom: 10px;
  position: relative;
  color: #999;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline input {
  border: 0;
  border-radius: 2px;
  display: inline-block;
  padding-left: 10px;
  color: #999;
  height: 34px;
  line-height: 34px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline .usename {
  width: 280px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline .phone {
  width: 191px;
  margin-right: 10px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline .now {
  display: inline-block;
  width: 80px;
  height: 34px;
  background: #c6a066;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  border-radius: 2px;
  cursor: pointer;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline label input {
  display: inline-block;
  width: 14px;
  height: 14px;
  visibility: hidden;
  vertical-align: middle;
  border: 0;
  border-radius: 2px;
  padding-left: 10px;
  color: #999;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline label img {
  vertical-align: middle;
  border: none;
  position: absolute;
  bottom: 2px;
  left: -1px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline label .read {
  margin-left: 10px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  vertical-align: middle;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline .safe {
  color: #c6a066;
  margin: 0 5px;
  vertical-align: middle;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .loan-form .form-inline .secret {
  vertical-align: middle;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .hot-tit {
  margin-bottom: 10px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .hot-tit a {
  font-size: 14px;
  color: #999;
  margin-right: 20px;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav .hot-item {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #999;
}

.center-wrap .center-header .left-nav .nav-list .list-item .second-nav a:hover {
  text-decoration: none;
}

.center-wrap .center-header .left-nav .nav-list .bg {
  background: url(../images/icon-9a58069011_su.png) no-repeat;
}

.center-wrap .center-header .right-banner {
  float: left;
  width: 822px;
  height: 504px;
}

.center-wrap .center-header .right-banner img {
  width: 822px;
  height: 504px;
}

.center-wrap .new-topic {
  width: 1190px;
  margin: 10px auto;
  box-sizing: border-box;
}

.center-wrap .new-topic .topic-tit {
  float: left;
  width: 260px;
  height: 150px;
  padding-top: 30px;
}

.center-wrap .new-topic .topic-tit img {
  display: inline-block;
  width: 190px;
  height: 50px;
  margin: 0 auto;
  vertical-align: middle;
  border: none;
}

.center-wrap .new-topic .topic-tit .tit {
  display: inline-block;
  margin-top: 18px;
  width: 192px;
  height: 28px;
  line-height: 28px;
  background: url(../images/arror-8534ed7663_su.png) no-repeat;
  font-size: 14px;
  color: #f36c28;
  padding-left: 10px;
}

.center-wrap .new-topic .listpic-wrap {
  height: 160px;
  padding-top: 5px;
  overflow: hidden;
}

.center-wrap .new-topic .listpic-wrap .listpic {
  width: 920px;
  height: 150px;
  float: right;
  margin-right: -30px;
}

.center-wrap .new-topic .listpic-wrap .listpic li {
  width: 216px;
  height: 150px;
  float: left;
  margin-right: 8px;
  margin-bottom: 20px;
  position: relative;
}

.center-wrap .new-topic .listpic-wrap .listpic li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.center-wrap .new-topic .listpic-wrap .listpic li a img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border: none;
  transition: all .6s ease-in;
}

.center-wrap .new-topic .listpic-wrap .listpic li:hover img {
  transform: scale(1.2);
}

/*# sourceMappingURL=vip_su.css.map */