<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <div class="footer">
        <div class="m_footer">
            <div class="footer-left">
                <dl>
                    <dt>关于平安</dt>
                    <dd><a href="#">集团简介</a></dd>
                    <dd><a href="#">企业社会责任</a></dd>
                    <dd><a href="#">投资者关系</a></dd>
                    <dd><a href="#">加入平安</a></dd>
                </dl>
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#">隐私保密声明</a></dd>
                    <dd><a href="#">网站声明</a></dd>
                    <dd><a href="#">网站地图</a></dd>
                    <dd><a href="#">联系我们</a></dd>
                    <dd><a href="#">短信验伪</a></dd>
                    <dd><a href="#">电子发票</a></dd>
                </dl>
            </div>
            <div class="footer-middle">
                <a href="login.html"><img src="../static/images/footer_pic/logo-39ae16799e.png" alt=""></a>
            </div>
            <div class="footer-right">
                <dl class="foot-qrcode">
                    <dt>平安APP</dt>
                    <dd><i class="icon pa"></i></dd>
                </dl>
                <dl class="foot-qrcode">
                    <dt>官网公众号</dt>
                    <dd><i class="icon gwgzh"></i></dd>
                </dl>
                <dl class="foot-qrcode">
                    <dt>品牌公众号</dt>
                    <dd><i class="icon ppgzh"></i></dd>
                </dl>
                <dl class="foot-qrcode">
                    <dt>企业文化号</dt>
                    <dd><i class="icon qywhh"></i></dd>
                </dl>
            </div>
        </div>
        <div class="copyright c">
            <p class="cp_txt">
                版权所有 © 中国<a href="http://www.pingan.com/">平安保险</a>（集团）股份有限公司未经许可不得复制、转载或摘编，违者必究!<br>Copyright © PING AN
                INSURANCE (GROUP) COMPANY OF CHINA ，LTD. All Rights Reserved

            </p>
            <div class="cp_right">
                <span class="icp">
                    <a href="#" class="wangan"></a>
                    <a href="#" class="anquan"></a>
                    <a href="#" class="xkzh">ICP许可证号 粤ICP备06118290号</a>
                </span>
                <div class="beian">
                    <a href="#" class="beian_txt">
                        <img src="../static/images/footer_pic/beian-d0289dc0a4.png" alt="">
                        <p class="ygw">粤公网安备 44030402000833号</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>