<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国平安</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/publichead.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
    <div class="header"></div>
    <div class="content_lqm">
        <div class="banner">
            <div class="imgWarp">
                <ul>
                    <!-- <li>
                        <a href="#">
                            <img src="../static/images/index_lu/banner001_index.png" alt="">
                        </a>
                    </li> -->
                </ul>
                <div class="mid">
                    <div class="left">
                        <span class="iconfont icon-fanhui"></span>
                    </div>
                    <div class="right">
                        <span class="iconfont icon-gengduo"></span>
                    </div>
                    <div class="navlist">
                        <!-- <span></span>
                        <span></span>
                        <span></span>
                        <span></span> -->
                    </div>
                </div>
            </div>
            <div class="W1180">
                <div class="left">
                    <div class="all_proudct">
                        <div class="warp">
                            <h3><i class="iconfont icon-quanbu"></i>全部产品</h3>
                            <i class="iconfont icon-gengduo"></i>
                            <ul>
                                <li><a href="#">旅游险精选</a></li>
                                <li><a href="#">旅游险精选</a></li>
                                <li><a href="#">旅游险精选</a></li>
                                <li><a href="#">旅游险精选</a></li>
                            </ul>
                        </div>
                        <div class="listWarp">
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sellwell_proudct">
                        <div class="warp">
                            <h3><i class="iconfont icon-huo"></i>全部产品</h3>
                            <i class="iconfont icon-gengduo"></i>
                            <ul>
                                <li><a href="#">儿童综合医疗</a></li>
                                <li><a href="#">儿童综合医疗</a></li>
                                <li><a href="#">儿童综合医疗</a></li>
                                <li><a href="#">儿童综合医疗</a></li>
                            </ul>
                        </div>
                        <div class="listWarp">
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="hot_proudct">
                        <div class="warp">
                            <h3><i class="iconfont icon-huangguan-copy"></i>全部产品</h3>
                            <i class="iconfont icon-gengduo"></i>
                            <ul>
                                <li><a href="#">平安+APP</a></li>
                                <li><a href="#">平安+APP</a></li>
                                <li><a href="#">平安+APP</a></li>
                                <li><a href="#">平安+APP</a></li>
                            </ul>
                        </div>
                        <div class="listWarp">
                            <div class="list">
                                <h4><span></span>保险分类</h4>
                                <ul>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                    <li><a href="#">全部保险</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="t">
                        <a href="#">
                            <img src="../static/images/index_lu/chexian_img.png" alt="">
                        </a>
                    </div>
                    <div class="b">
                        <div class="logo_img">
                            <span class="puhui"></span>
                        </div>
                        <div class="iptForm">
                            <h3>
                                快至<i>3分钟</i>的极速贷款
                            </h3>
                            <div class="row row1">
                                <input type="text" placeholder="请出入姓名" class="username">
                            </div>
                            <div class="row row2">
                                <input type="text" placeholder="请输入电话号码" class="phone">
                                <a href="#" class="toDK">立即贷款</a>
                            </div>
                            <div class="row row3">
                                <img src="../static/images/index_lu/radio_true.png" alt="">
                                <span>
                                    已阅读<a href="#">《安全条款》</a>隐私将严格保密
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="recommend">
                <div class="W1180">
                    <h2>
                        <i class="hl"></i>
                        特别推荐
                        <i class="hr"></i>
                    </h2>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/TJ_01.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/TJ_02.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/TJ_03.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/TJ_04.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dk">
                <div class="W1180">
                    <div class="title">
                        <h2>F1 极速贷款</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/F1_01.png" alt="">
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/F1_02.png" alt="">
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/index_lu/F1_03.png" alt="">
                            </a>
                        </div>
                        <div class="list list-last">
                            <h3>
                                <span class="lf"></span>算算我能贷多少<span class="ri"></span>
                            </h3>
                            <div class="count">
                                <h5>职业类型</h5>
                                <div class="row zy">
                                    <div class="active">上班族</div>
                                    <div>企业主</div>
                                    <div>自由职业</div>
                                </div>
                                <div class="row where">
                                    <span>所在地区</span>
                                    <input type="text" class="city" value="深圳">
                                </div>
                                <div class="row income">
                                    <span>月收入范围</span>
                                    <select class="inc" >
                                        <option value="0">请选择</option>
                                        <option value="3">3000元以下</option>
                                        <option value="5">3000-5000</option>
                                        <option value="10">5000-10000</option>
                                        <option value="25">10000-25000</option>
                                        <option value="35">25000-35000</option>
                                        <option value="50">35000-50000</option>
                                        <option value="50">50000以上</option>
                                    </select>
                                </div>
                                <div class="row phone">
                                    <span>手机号</span>
                                    <input type="text" placeholder="请输入手机号码" class="ph">
                                </div>
                                <div class="countNow">立即计算</div>
                                <div class="tips">请选择月收入范围</div>
                            </div>
                            <div class="count_after">
                                <div class="c_result">
                                    <p>评估结果</p>
                                    <p>根据您提供的信息</p>
                                    <p>预估您最高可贷</p>
                                    <div class="limit">
                                        <strong>50</strong><i>万</i>
                                    </div>
                                </div>
                                <div class="btnWarp">
                                    <div class="again">重新计算</div>
                                    <div class="toApply">
                                        <a href="#">立即申请</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lc">
                <div class="W1180">
                    <div class="title">
                        <h2>F2 精明理财</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#" >
                                <h3><span>[智能日添利]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>2.95</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1千元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#" >
                                <h3><span>[和盈滚滚添利90天]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>4.28</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1万元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#" >
                                <h3><span>[周成长（净值型）]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>4.05</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1万元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="lc_calculator">
                            <h3>
                                <span class="lf"></span>理财产品计算器<span class="ri"></span>
                            </h3>
                            <div class="cal">
                                <div class="row">
                                    <div class="lf">
                                        <span>投资金额</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>元</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="lf">
                                        <span>七日年化</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>%</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="lf">
                                        <span>投资天数</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>元</i>
                                    </div>
                                </div>
                                <div class="row data">
                                    <div class="lf">
                                        <span>基本天数</span>
                                    </div>
                                    <div class="r">
                                        <div class="rl active">365天</div>
                                        <div class="rr">360天</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="reset">重置</div>
                                    <div class="count">计算</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx">
                <div class="W1180">
                    <div class="title">
                        <h2>F3 安心保险</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="rol_left">
                            <div class="box EBplus">
                                <a href="#">
                                    <h5>E生保PLUS</h5>
                                        <p>· 百万医疗保险，0-6  0岁可担保</p>
                                    <p>· ICU进口药可报销</p>
                                    <div class="price">
                                        <span><strong>0.4元</strong>天/起</span>
                                </div>
                                </a>
                            </div>
                        </div>
                        <div class="rol_mid">
                            <div class="box family_YW">
                                <a href="#">
                                    <h5>家庭保综合意外险</h5>
                                    <p>· 一张家庭保单</p>
                                    <p>· 全家共享平安</p>
                                    <div class="price">
                                        <span><strong>144</strong>/起</span>
                                    </div>
                                </a>
                            </div>
                            <div class="box EB_home">
                                <a href="#">
                                    <h5>平安e家保2018</h5>
                                    <p>· 0-60周岁可投保；</p>
                                    <p>· 一家人的医疗保障；</p>
                                    <div class="price">
                                        <span><strong>101元</strong>/年起</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="rol_right">
                            <div class="box EB_anxin">
                                <a href=
                                "#"><h5>安心百分百</h5>
                                    <p>· 专注意外保障</p>
                                    <p>· 给你安心的幸福</p>
                                    <div class="price">
                                        <span><strong>208元</strong>起/月</span>
                                    </div>
                            </div>
                            </a>
                            <div class="box EB_childen">
                                <a href=
                                "#"><h5>少儿综合保险</h5>
                                    <p>· 保常见病，保传染病</p>
                                    <p>· 免费少儿医疗电话服务</p>
                                    <div class="price">
                                        <span><strong>105元</strong>/起</span>
                                    </div>
                            </div>
                            </a>
                            <div class="box EB_esheng">
                                <a href=
                                "#"><h5>平安全家福</h5>
                                    <p>· 房屋财产+个人意外</p>
                                    <p>· 全方位保障</p>
                                    <div class="price">
                                        <span><strong>174元</strong>天/起</span>
                                    </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="creditCard">
                <div class="W1180">
                    <div class="title">
                        <h2>F4 信用卡申请</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="card_l">
                            <ul>
                                <li>
                                    <a href="#"><img src="../static/images/index_lu/F4_01.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../static/images/index_lu/F4_02.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../static/images/index_lu/F4_03.png" alt=""></a>
                                </li>
                                <li>
                                    <a href="#"><img src="../static/images/index_lu/F4_04.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card_r">
                            <h3>
                                <span class="lf"></span>测测您适合什么卡<span class="ri"></span>
                            </h3>
                            <div class="row">
                                <span>用途1</span>
                                <select name="" id="">
                                    <option value="">网上购物</option>
                                    <option value="">吃吃喝喝</option>
                                    <option value="">休闲娱乐</option>

                                </select>
                            </div>
                            <div class="row">
                                <span>用途2</span>
                                <select name="" id="">
                                    <option value="">无</option>
                                    <option value="">吃吃喝喝</option>
                                    <option value="">休闲娱乐</option>
                                </select>
                            </div>
                            <div class="row">
                                <span>用途3</span>
                                <select name="" id="">
                                    <option value="">无</option>
                                </select>
                            </div>
                            <div class="btn_ce">测一测</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="friend_link W1180">
                <div class="l">
                    <h2><span></span>行销支持</h2>
                    <ul>
                        <li><a href="#">代理客户</a></li>
                        <li><a href="#">代理客户</a></li>
                        <li><a href="#">代理客户</a></li>
                        <li><a href="#">代理客户</a></li>
                        <li><a href="#">代理客户</a></li>
                    </ul>
                </div>
                <div class="r">
                    <h2><span></span>友情链接</h2>
                    <ul>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                        <li><a href="#">明园慈善基金</a></li>
                    </ul>
                </div>
            </div>
            <div class="kit_link">
                <ul>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_bd"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_yue"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_xy"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_wd"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_jh"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="kit_icon kit_kh"></div>
                            <p>保单查询</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sideNav"></div>
        </div>
    </div>
    <div class="footer"></div>
    <div class="nav_cebian">
        <ul>
            <li>
                <a href="#" class="first">
                    <div>
                        优惠专区
                    </div>
                    <span class="img"></span>
                </a>

            </li>
            <li to="dk">
                <a class="cr">
                    <div>
                        急速贷款
                    </div>
                </a>
            </li>
            <li to="lc">
                <a class="cr">
                    <div>
                        精明理财
                    </div>
                </a>
            </li>
            <li to="bx">
                <a class="cr">
                    <div>
                        安心保险
                    </div>
                </a>
            </li>
            <li to="creditCard">
                <a class="cr">
                    <div class="xw">
                        信用卡申请
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        扫码下载
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        客户反馈
                    </div> 
                </a>
            </li>
            <li to="header">
                <a class="totop">
                    <div>
                        <span class="iconfont icon-arrow-up"></span>
                        顶部
                    </div>
                </a>
            </li>
        </ul>
    </div>
<script src="../static/scripts/require.js" data-main="../static/scripts/index"></script>
</body>
</html>