<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>客户服务</title>
	<link rel="stylesheet" type="text/css" href="../static/sass/base.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/public.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/service.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/common_nav.css">
	<style type="text/css">
		body {
			overflow: scroll;
		}
	</style>
</head>

<body>
	<!--first nav end-->
	<div class="breadCrumb"><em><a href="http://www.pingan.com/" otitle="面包屑-首页"
				otype="button">首页</a></em><i>&gt;</i><span>客户服务</span></div>

	<div class="contentWrap">
		<div class="tabNav">
			<ul class="c">
				<li class="curr">联系我们</li>
				<li>微客服</li>
				<li>APP</li>
				<li>服务网点</li>
			</ul>
		</div>
		<div class="tabCont">
			<!-- 联系我们 Start -->
			<div class="tabItem">
				<!-- 电话客服 Start -->
				<div class="phoneService">
					<!--<a href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=PA_GW&post_id=" style="width: 110px;" otitle="在线客服" otype="button" class="db">
						<h3>在线客服</h3>
					</a>-->
					<div class="appService">
						<h3 class="appLoad">意见反馈</h3>
						<div class="qrcodeAppBox">
							<img src="/app_images/pingan/pa_2017/app.png">
						</div>
					</div>
					<div class="inner c">
						<div class="branchPhoneArea">
							<h4>保险</h4>
							<dl>
								<dt><a href="http://life.pingan.com/customerService.html" target="_blank"
										otitle="联系我们-电话客服-寿险（个人）" otype="button">寿险（个人）</a></dt>
								<dd>95511转1<a
										href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=SX_1&storeId=&subbiztype=&enterpage=%E5%AF%BF%E9%99%A9%E5%AE%98%E7%BD%91%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&urlAddr="
										target="_blank" otitle="联系我们-在线客服-寿险（个人）" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://life.pingan.com/customerService.html" target="_blank"
										otitle="联系我们-电话客服-寿险（团体）" otype="button">寿险（团体）</a></dt>
								<dd>95511转6转1<a
										href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=SX_1&storeId=&subbiztype=&enterpage=%E5%AF%BF%E9%99%A9%E5%AE%98%E7%BD%91%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&urlAddr="
										target="_blank" otitle="联系我们-在线客服-寿险（团体）" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://property.pingan.com/kehufuwu.shtml" target="_blank"
										otitle="联系我们-电话客服-产险" otype="button">产险</a></dt>
								<dd>95511转5</dd>
							</dl>
							<dl>
								<dt><a href="http://health.pingan.com/kehufuwu/contactus.shtml" target="_blank"
										otitle="联系我们-电话客服-健康险" otype="button">健康险</a></dt>
								<dd>95511转7</dd>
							</dl>
							<dl>
								<dt><a href="http://yl.pingan.com" target="_blank" otitle="联系我们-电话客服-养老险"
										otype="button">养老险</a></dt>
								<dd>95511转6<a href="http://yl.pingan.com/support.shtml" target="_blank"
										otitle="联系我们-在线客服-养老险" otype="butotn" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://www.4008000000.com/lipeifuwu/lipeitesefuwu.shtml" target="_blank"
										otitle="联系我们-电话客服-网上车险" otype="button">网上车险</a></dt>
								<dd>4008000000<a
										href="http://www.4008000000.com/zaixiankefu/index.shtml?provinceNo=440000&cityNo=440300&cityName=%E6%B7%B1%E5%9C%B3&provinceName=%E5%B9%BF%E4%B8%9C%E7%9C%81&departmentCode=20516&fresh=0.8536345742177218?provinceNo=440000&cityNo=440300&cityName=%E6%B7%B1%E5%9C%B3&provinceName=%E5%B9%BF%E4%B8%9C%E7%9C%81&departmentCode=20516&fresh=0.701364483917132"
										target="_blank" otitle="联系我们-在线客服-网上车险" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://baoxian.pingan.com/baoxianfuwu/index.shtml" target="_blank"
										otitle="联系我们-电话客服-网上非车险" otype="button">网上非车险</a></dt>
								<dd>4008000000<a
										href="http://www.4008000000.com/zaixiankefu/index.shtml?provinceNo=440000&cityNo=440300&cityName=%E6%B7%B1%E5%9C%B3&provinceName=%E5%B9%BF%E4%B8%9C%E7%9C%81&departmentCode=20516&fresh=0.8536345742177218?provinceNo=440000&cityNo=440300&cityName=%E6%B7%B1%E5%9C%B3&provinceName=%E5%B9%BF%E4%B8%9C%E7%9C%81&departmentCode=20516&fresh=0.701364483917132"
										target="_blank" otitle="联系我们-在线客服-网上非车险" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>银行</h4>
							<dl>
								<dt><a href="http://bank.pingan.com/about/lianxiwomen.shtml" target="_blank"
										otitle="联系我们-电话客服-平安银行" otype="button">平安银行</a></dt>
								<dd>95511转3</dd>
							</dl>
							<dl>
								<dt><a href="http://creditcard.pingan.com/yongkazhinan/qudao.shtml" target="_blank"
										otitle="联系我们-电话客服-信用卡" otype="button">信用卡</a></dt>
								<dd>95511转2<a href="http://creditcard.pingan.com/yongkazhinan/zaixiankefu.shtml"
										target="_blank" otitle="联系我们-在线客服-信用卡" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://www.orangebank.com.cn/help.html" target="_blank"
										otitle="联系我们-电话客服-橙e网" otype="button">橙e网</a></dt>
								<dd>400-848-0888</dd>
							</dl>
							<dl>
								<dt><a href="http://www.10100000.com/daikuancms/wenti/1425454233530.shtml"
										target="_blank" otitle="联系我们-电话客服-普惠" otype="button">普惠</a></dt>
								<dd>400-858-0580</dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>投资</h4>
							<dl>
								<dt><a href="http://stock.pingan.com/guanyuwomen/lianxiwomen/wangzhanliuyan/index.shtml"
										target="_blank" otitle="联系我们-电话客服-证券" otype="button">证券</a></dt>
								<dd>95511转8<a
										href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=STOCK_WEB&storeId=&subbiztype=&browserTpye=Chrome|43.0.2357.134&enterpage=%E8%AF%81%E5%88%B8%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D%E9%A6%96%E9%A1%B5&urlAddr=http%3A%2F%2Fstock.pingan.com%2Fbeta%2Findex.shtml"
										target="_blank" otitle="联系我们-在线客服-证券" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://trust.pingan.com/customer-service/channel/11167969" target="_blank"
										otitle="联系我们-电话客服-信托" otype="button">信托</a></dt>
								<dd>400-881-9888</dd>
							</dl>
							<dl>
								<dt><a href="http://asset.pingan.com/contact.shtml" target="_blank"
										otitle="联系我们-电话客服-资管" otype="button">资管</a></dt>
								<dd>400-886-6338</dd>
							</dl>
							<dl>
								<dt><a href="http://futures.pingan.com/fuwuzhongxin/index.shtml" target="_blank"
										otitle="联系我们-电话客服-期货" otype="button">期货</a></dt>
								<dd>400-888-8933</dd>
							</dl>
							<dl>
								<dt><a href="http://fund.pingan.com/static/web/jingtaiyemian/index.shtml"
										target="_blank" otitle="联系我们-电话客服-大华基金" otype="button">大华基金</a></dt>
								<dd>400-800-4800</dd>
							</dl>
							<dl>
								<dt><a href="http://www.lufax.com/about/contactus.html" target="_blank"
										otitle="联系我们-电话客服-陆金所" otype="button">陆金所</a></dt>
								<dd>400-866-6618<a href="https://common.lu.com/common/cs/chat" target="_blank"
										otitle="联系我们-在线客服-陆金所" otype="butotn" class="ico_service">在线客服</a></dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>互联网＋</h4>
							<!--<dl>
								<dt><a href="http://one.pingan.com/bangzhu/contact_service.html" target="_blank" otitle="联系我们-电话客服-一账通" otype="button">一账通</a></dt>
								<dd>400-930-0567<a href="http://eim.pingan.com.cn/web/one?v=&businessType=ONE_2&browserTpye=msie|8.0&enterpage=&urlAddr=http%3A%2F%2Fone.pingan.com%2Fbangzhu%2Fcontact_service.shtml" target="_blank" otitle="联系我们-在线客服-一账通" otype="butotn" class="ico_service">在线客服</a></dd>
							</dl>-->
							<dl>
								<dt><a href="https://www.yqb.com/service/#/commonproblem/" target="_blank"
										otitle="联系我们-电话客服-壹钱包" otype="button">壹钱包</a></dt>
								<dd>400-888-0999</dd>
							</dl>
							<dl>
								<dt><a href="https://cfb.pingan.com/help/" target="_blank" otitle="联系我们-电话客服-财富宝"
										otype="button">财富宝</a></dt>
								<dd>400-180-8898</dd>
							</dl>
							<dl>
								<dt><a href="http://www.pinganfang.com/about/contact.html" target="_blank"
										otitle="联系我们-电话客服-平安城科" otype="button">平安城科</a></dt>
								<dd>400-868-1111</dd>
							</dl>
							<dl>
								<dt><a href="http://www.jk.cn/index" target="_blank" otitle="联系我们-电话客服-平安好医生"
										otype="button">平安好医生</a></dt>
								<dd>400-866-5858</dd>
							</dl>
							<dl>
								<dt><a href="https://www.pinganwj.com/about/8dd2de73-0305-11e6-996b-ecf4bbd69a34"
										target="_blank" otitle="联系我们-电话客服-平安万家医疗" otype="button">平安万家医疗</a></dt>
								<dd>400-102-8120<a
										href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=WJZS&storeId=&subbiztype=WJZS|01&browserTpye=Chrome|43.0.2357.134&enterpage=&urlAddr=https%3A%2F%2Fwww.pinganwj.com%2F"
										target="_blank" otitle="联系我们-在线客服-平安万家医疗" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="https://www.zhong.com/static/help1-16.html?utm_p=helpcentre&utm_pn=header&utm_t=contactCustomerService"
										target="_blank" otitle="联系我们-电话客服-平安众＋" otype="button">平安众＋</a></dt>
								<dd>400-088-8818</dd>
							</dl>
							<dl>
								<dt><a href="http://wifi.pingan.com/contact_us.html#" target="_blank"
										otitle="联系我们-电话客服-平安优联通" otype="button">平安优联通</a></dt>
								<dd>400-807-9111转2</dd>
							</dl>
							<dl>
								<dt><a href="http://www.jryzt.com/" target="_blank" otitle="联系我们-电话客服-融壹账通"
										otype="button">金融壹账通</a></dt>
								<dd>400-930-0567<a
										href="http://eim.pingan.com.cn/web/one?v=&businessType=ONE_2&browserTpye=msie|8.0&enterpage=&urlAddr=http%3A%2F%2Fone.pingan.com%2Fbangzhu%2Fcontact_service.shtml"
										target="_blank" otitle="联系我们-在线客服-金融壹账通" otype="butotn"
										class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="http://haodai.pingan.com/loan/index.html" target="_blank"
										otitle="联系我们-电话客服-平安好贷" otype="button">平安好贷</a></dt>
								<dd>1010-1188</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- 电话客服 End -->

			</div>
			<!-- 联系我们 End -->
			<!-- 微客服 Start -->
			<div class="tabItem dsn">
				<ul class="microService c">
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/zhongguopingan.jpg" alt="中国平安" />
						<div class="weChat">
							<h3>中国平安</h3>
							<h4>微信号：</h4>
							<h5>zhongguopingan_95511</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganrenshou.jpg" alt="平安人寿" />
						<div class="weChat">
							<h3>平安人寿</h3>
							<h4>微信号：</h4>
							<h5>pars95511</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganchanxian.jpg" alt="平安产险" />
						<div class="weChat">
							<h3>平安产险</h3>
							<h4>微信号：</h4>
							<h5>pack95511</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganchexian.jpg" alt="平安车险" />
						<div class="weChat">
							<h3>平安车险</h3>
							<h4>微信号：</h4>
							<h5>pingan_4008000000</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganbaoxian.jpg" alt="平安保险商城" />
						<div class="weChat">
							<h3>平安保险商城</h3>
							<h4>微信号：</h4>
							<h5>pabxsc</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganyanglao.jpg" alt="平安养老险" />
						<div class="weChat">
							<h3>平安养老险</h3>
							<h4>微信号：</h4>
							<h5>paylx95511</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganzhitong.jpg" alt="平安直通财富" />
						<div class="weChat">
							<h3>平安直通财富</h3>
							<h4>微信号：</h4>
							<h5>PAZTCFGL</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganbank.jpg" alt="平安银行" />
						<div class="weChat">
							<h3>平安银行</h3>
							<h4>微信号：</h4>
							<h5>pingan_bank</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganxinyongka.jpg" alt="平安银行信用卡" />
						<div class="weChat">
							<h3>平安银行信用卡</h3>
							<h4>微信号：</h4>
							<h5>paxyk95511</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganzhengquan.jpg" alt="平安证券" />
						<div class="weChat">
							<h3>平安证券</h3>
							<h4>微信号：</h4>
							<h5>pazhengquan2014</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganxintuo.jpg" alt="平安信托" />
						<div class="weChat">
							<h3>平安信托</h3>
							<h4>微信号：</h4>
							<h5>paxt4008895511</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pingancaifubao.jpg" alt="平安财富宝" />
						<div class="weChat">
							<h3>平安财富宝</h3>
							<h4>微信号：</h4>
							<h5>pacaifubao</h5>
						</div>
					</li>
					<!--
	<li>
		<img src="/app_images/pingan/pa_2017/qrcode/lujinsuo.jpg" alt="陆金所微店" />
		<div class="weChat">			
			<h3>陆金所微店</h3>
			<h4>微信号：</h4>
			<h5>lu_weidian</h5>
		</div>
	</li>
	-->
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganpuhui.jpg" alt="平安普惠" />
						<div class="weChat">
							<h3>平安普惠</h3>
							<h4>微信号：</h4>
							<h5>pingan_10100000</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganqihuo.jpg" alt="平安期货微服务" />
						<div class="weChat">
							<h3>平安期货微服务</h3>
							<h4>微信号：</h4>
							<h5>paqhwfw</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganziguan.jpg" alt="平安资管" />
						<div class="weChat">
							<h3>平安资管</h3>
							<h4>微信号：</h4>
							<h5>PA_Asset_Management</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/dahuajijin.jpg" alt="平安大华基金" />
						<div class="weChat">
							<h3>平安大华基金</h3>
							<h4>微信号：</h4>
							<h5>pingandahua</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganbudongchan.jpg" alt="平安不动产" />
						<div class="weChat">
							<h3>平安不动产</h3>
							<h4>微信号：</h4>
							<h5>pinganBDC</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganzulin.jpg" alt="平安租赁" />
						<div class="weChat">
							<h3>平安租赁</h3>
							<h4>微信号：</h4>
							<h5>pinganleasing</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/jinrongyzt.jpg" alt="金融壹账通" />
						<div class="weChat">
							<h3>金融壹账通</h3>
							<h4>微信号：</h4>
							<h5>jinrong_yzt</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/yiqianbao.jpg" alt="壹钱包" />
						<div class="weChat">
							<h3>壹钱包</h3>
							<h4>微信号：</h4>
							<h5>my1qianbao</h5>
						</div>
					</li>

					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganchengke.jpg" alt="平安城科" />
						<div class="weChat">
							<h3>平安城科</h3>
							<h4>微信号：</h4>
							<h5>pinganchengke</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganhaoyisheng.jpg" alt="平安好医生" />
						<div class="weChat">
							<h3>平安好医生</h3>
							<h4>微信号：</h4>
							<h5>pajkgj</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganwjyl.jpg" alt="平安万家医疗" />
						<div class="weChat">
							<h3>平安万家医疗</h3>
							<!-- <h4>微信号：</h4>
			<h5></h5> -->
						</div>
					</li>
					<!--
	<li>
		<img src="/app_images/pingan/pa_2017/qrcode/pinganhaodai.jpg" alt="平安好贷" />
		<div class="weChat">			
			<h3>平安好贷</h3>
			<h4>微信号：</h4>
			<h5>pinganhaodai</h5>
		</div>
	</li>
	-->
					<!--
	<li>
		<img src="/app_images/pingan/pa_2017/qrcode/pinganzplus.jpg" alt="平安众+" />
		<div class="weChat">
			<h3>平安众+</h3>
			<h4>微信号：</h4>
			<h5>zhong_plus</h5>
		</div>
	</li>
	-->
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/pinganvip.jpg" alt="平安VIP俱乐部" />
						<div class="weChat">
							<h3>平安VIP俱乐部</h3>
							<h4>微信号：</h4>
							<h5>jypash</h5>
						</div>
					</li>
					<li>
						<img src="/app_images/pingan/pa_2017/qrcode/micropingan.png" alt="微平安" />
						<div class="weChat">
							<h3>微平安</h3>
							<h4>微信号：</h4>
							<h5>weipingan</h5>
						</div>
					</li>
					<!--
	<li>
		<img src="/app_images/pingan/pa_2017/qrcode/pinganwifi.jpg" alt="平安WIFI" />
		<div class="weChat">			
			<h3>平安WIFI</h3>
			<h4>微信号：</h4>
			<h5>wifijoy</h5>
		</div>
	</li>
	-->
				</ul>
			</div>
			<!-- 微客服 End -->
			<!-- APP Start -->
			<div class="tabItem dsn">
				<ul class="appArea c">
					<li>
						<a href="http://life.pingan.com/youhui/iPhoneApp/index.shtml" target="_blank" otitle="app-"
							otype="button">
							<img src="/app_images/pingan/pa_2017/app/jinguanjia.png" alt="平安金管家" />
							<div class="desc">
								<h3>平安金管家</h3>
								<p>值得托付的金融生活管理专家</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://m.health.pingan.com/app/download/download_pc.html?from=m_h5" target="_blank"
							otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganjiankang.png" alt="平安健康" />
							<div class="desc">
								<h3>平安健康</h3>
								<p>国内首个专注移动健康保障的app</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://www.4008000000.com/fuwuzhongxin/app.shtml" target="_blank" otitle="app-"
							otype="button">
							<img src="/app_images/pingan/pa_2017/app/bxsc.png" alt="平安保险商城" />
							<div class="desc">
								<h3>保险商城</h3>
								<p>手机买保险就选平安保险商城</p>
							</div>
						</a>
					</li>

					<li>
						<a href="http://bank.pingan.com/app/index.html" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/payh.png" alt="平安银行" />
							<div class="desc">
								<h3>平安银行</h3>
								<p>平安银行官方移动网银</p>
							</div>
						</a>
					</li>
					<!--
					<li>
						<a href="http://creditcard.pingan.com/youhuihuodong/1409291627105.shtml" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/paxinyongka.png" alt="平安信用卡" />
							<div class="desc">
								<h3>平安信用卡</h3>
								<p>信用卡官网App</p>
							</div>
						</a>
					</li>
					-->
					<li>
						<a href="http://stock.pingan.com/beta/ruanjianxiazai/index.shtml" target="_blank" otitle="app-"
							otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganzhengquan.png" alt="平安证券" />
							<div class="desc">
								<h3>平安证券</h3>
								<p>您的一站式理财平台</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.lu.com/activity/app201307/index.html" target="_blank" otitle="app-"
							otype="button">
							<img src="/app_images/pingan/pa_2017/app/ljs.png" alt="陆金所" />
							<div class="desc">
								<h3>陆金所</h3>
								<p>AAA级投资理财平台</p>
							</div>
						</a>
					</li>
					<!--
					<li>
						<a href="http://one.pingan.com/app/index.shtml" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganyzt.png" alt="一账通" />
							<div class="desc">
								<h3>一账通</h3>
								<p>中国首个智能财富管理平台</p>
							</div>
						</a>
					</li>
					-->
					<li>
						<a href="http://cfb.pingan.com/download.html" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pingancaifubao.png" alt="平安财富宝" />
							<div class="desc">
								<h3>平安财富宝</h3>
								<p>指尖上的私人财富管家</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://www.10100000.com/client/index.html?WT.mc_id=CXX-BDPP-PHPC-001_pidx"
							target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganpuhui.png" alt="平安普惠" />
							<div class="desc">
								<h3>平安普惠</h3>
								<p>最高贷你500万，全程APP申请</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://fund.pingan.com/static/web/app/index.shtml" target="_blank" otitle="app-"
							otype="button">
							<img src="/app_images/pingan/pa_2017/app/huashenglicai.png" alt="花生理财" />
							<div class="desc">
								<h3>花生理财</h3>
								<p>让赚钱变得更加简单</p>
							</div>
						</a>
					</li>

					<li>
						<a href="http://futures.pingan.com" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganqihuo.png" alt="平安期货" />
							<div class="desc">
								<h3>平安期货</h3>
								<p>在线开户更方便</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.1qianbao.com/yqb" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/yqb.png" alt="壹钱包" />
							<div class="desc">
								<h3>壹钱包</h3>
								<p>为每一分钱创造价值</p>
							</div>
						</a>
					</li>
					<!--
					<li>
						<a href="http://www.pinganfang.com/about/app.html" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pahf.png" alt="平安好房" />
							<div class="desc">
								<h3>平安好房</h3>
								<p>房产金融移动平台</p>
							</div>
						</a>
					</li>
					-->
					<li>
						<a href="http://www.jk.cn/" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pays.png" alt="平安好医生" />
							<div class="desc">
								<h3>平安好医生</h3>
								<p>平安旗下健康管理专家</p>
							</div>
						</a>
					</li>

					<li>
						<a href="http://hcz.pingan.com/pcdownload.html?timeFlag=1487053448700&channel=&source="
							target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/pinganhaochezhu.png" alt="平安好车主" />
							<div class="desc">
								<h3>平安好车主</h3>
								<p>您的行车好帮手</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.pinganwj.com/appDownload" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/wanjiayiliao.png" alt="万家医疗" />
							<div class="desc">
								<h3>万家医疗</h3>
								<p>随身的移动互联网诊所</p>
							</div>
						</a>
					</li>
					<li>
						<a href="http://xunke.pingan.com/" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/ylt.png" alt="平安wifi" />
							<div class="desc">
								<h3>优联通</h3>
								<p>免费WiFi想上就上</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://www.pingan.com/official/download" target="_blank" otitle="app-" otype="button">
							<img src="/app_images/pingan/pa_2017/app/plus.png" alt="平安+" />
							<div class="desc">
								<h3>平安+</h3>
								<p>平安金融科技体验平台</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- APP End -->
			<!-- 服务网点 Start -->
			<div class="tabItem dsn">
				<div class="serviceNetwork">
					<h3>服务网点</h3>
					<ul class="c">
						<li><a href="http://life.pingan.com/kehufuwu/fuwugongju/kehufuwuzhongxin.shtml" target="_blank"
								otitle="联系我们-服务网点-寿险" otype="button">寿险</a></li>
						<li><a href="http://www.pingan.com/property_insurance/pa18AutoInquiry/mapIndex.do"
								target="_blank" otitle="联系我们-服务网点-产险" otype="button">产险</a></li>
						<li><a href="http://yl.pingan.com/px/informationDisclosure/gfgsxx.shtml" target="_blank"
								otitle="联系我们-服务网点-养老险" otype="button">养老险</a></li>
						<li><a href="http://health.pingan.com/gongkaixinxipilu/fenzhijigou.shtml" target="_blank"
								otitle="联系我们-服务网点-健康险" otype="button">健康险</a></li>
						<li><a href="http://bank.pingan.com/geren/fuwuwangdian/map.shtml" target="_blank"
								otitle="联系我们-服务网点-平安银行" otype="button">平安银行</a></li>
						<li><a href="http://stock.pingan.com/guanyuwomen/zhengquanyingyewangdian/index.shtml"
								target="_blank" otitle="联系我们-服务网点-平安证券" otype="button">平安证券</a></li>
						<li><a href="http://futures.pingan.com/fenzhijigou.shtml" target="_blank"
								otitle="联系我们-服务网点-平安期货" otype="button">平安期货</a></li>
						<li><a href="http://www.pinganfang.com/about/contact.html" target="_blank"
								otitle="联系我们-服务网点-平安好房" otype="button">平安好房</a></li>
					</ul>
				</div>
			</div>
			<!-- 服务网点 End -->
		</div>
	</div>
</body>
</html>