<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>中国平安</title>
    <link href="favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../static/css/iconfont.css">
    <link rel="stylesheet" href="../static/css/main.css">

</head>
<body>
    <div class="header"></div>
    <div class="content_lqm">
        <div class="banner">
            <div class="imgWarp">
                <ul>
                    <!-- <li>
                        <a href="#">
                            <img src="../static/images/banner001_index.png" alt="">
                        </a>
                    </li> -->
                </ul>
                <div class="mid">
                    <div class="left">
                        <span class="iconfont icon-fanhui"></span>
                    </div>
                    <div class="right">
                        <span class="iconfont icon-gengduo"></span>
                    </div>
                    <div class="navlist">
                        <!-- <span></span>
                        <span></span>
                        <span></span>
                        <span></span> -->
                    </div>
                </div>
            </div>
            <div class="W1180">
                <div class="left">

                </div>
                <div class="right">
                    <div class="t">
                        <a href="#">
                            <img src="../static/images/chexian_img.png" alt="">
                        </a>
                    </div>
                    <div class="b">
                        <div class="logo_img">
                            <span class="puhui"></span>
                        </div>
                        <div class="iptForm">
                            <h3>
                                快至<i>3分钟</i>的极速贷款
                            </h3>
                            <div class="row row1">
                                <input type="text" placeholder="请出入姓名" class="username">
                            </div>
                            <div class="row row2">
                                <input type="text" placeholder="请输入电话号码" class="phone">
                                <a href="#" class="toDK">立即贷款</a>
                            </div>
                            <div class="row row3">
                                <img src="../static/images/radio_true.png" alt="">
                                <span>
                                    已阅读<a href="#">《安全条款》</a>隐私将严格保密
                                </span>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="recommend">
                <div class="W1180">
                    <h2>
                        <i class="hl"></i>
                        特别推荐
                        <i class="hr"></i>
                    </h2>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/TJ_01.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/TJ_02.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/TJ_03.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/TJ_04.png" alt="">
                                <div class="lb">
                                    <h4>大福星重疾保险</h4>
                                    <p>专注重疾重点守护</p>
                                    <p>灵活搭配多种保障</p>
                                    <div class="tosee">去看看</div>
                                </div>
                                
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dk">
                <div class="W1180">
                    <div class="title">
                        <h2>F1 极速贷款</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/F1_01.png" alt="">
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/F1_02.png" alt="">
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="../static/images/F1_03.png" alt="">
                            </a>
                        </div>
                        <div class="list list-last">
                            <h3>
                                <span class="lf"></span>算算我能贷多少<span class="ri"></span>
                            </h3>
                            <div class="count">
                                <h5>职业类型</h5>
                                <div class="row zy">
                                    <div class="active">上班族</div>
                                    <div>企业主</div>
                                    <div>自由职业</div>
                                </div>
                                <div class="row where">
                                    <span>所在地区</span>
                                    <input type="text" class="city" value="深圳">
                                </div>
                                <div class="row income">
                                    <span>月收入范围</span>
                                    <div class="inc">
                                        请选择
                                        <i></i>
                                    </div>
                                </div>
                                <div class="row phone">
                                    <span>手机号</span>
                                    <input type="text" placeholder="请输入手机号码" class="ph">
                                </div>
                                <div class="countNow">立即计算</div>
                            </div>
                            <div class="count_after">
                                <div class="c_result">
                                    <p>评估结果</p>
                                    <p>根据您提供的信息</p>
                                    <p>预估您最高可贷</p>
                                    <div class="limit">
                                        <strong>50</strong><i>万</i>
                                    </div>
                                </div>
                                <div class="btnWarp">
                                    <div class="again">重新计算</div>
                                    <div class="toApply">
                                        <a href="#">立即申请</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lc">
                <div class="W1180">
                    <div class="title">
                        <h2>F2 精明理财</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            <a href="#" >
                                <h3><span>[智能日添利]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>2.95</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1千元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#" >
                                <h3><span>[和盈滚滚添利90天]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>4.28</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1万元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#" >
                                <h3><span>[周成长（净值型）]</span></h3>
                                <p>平安银行</p>
                                <div class="mid">
                                    <div class="rate">
                                        <strong>4.05</strong>%
                                    </div>
                                    <div class="explain">
                                        <span>业绩比较基准</span>
                                    </div>
                                </div>
                                <div class="start">
                                    <span>1万元起投</span>
                                </div>
                                <div class="btn">立即抢购</div>
                            </a>
                        </div>
                        <div class="lc_calculator">
                            <h3>
                                <span class="lf"></span>理财产品计算器<span class="ri"></span>
                            </h3>
                            <div class="cal">
                                <div class="row">
                                    <div class="lf">
                                        <span>投资金额</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>元</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="lf">
                                        <span>七日年化</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>%</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="lf">
                                        <span>投资天数</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>元</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="lf">
                                        <span>基本天数</span>
                                    </div>
                                    <div class="r">
                                        <input type="text" class="lc_mon">
                                        <i>元</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bx">
                <div class="W1180">
                    <div class="title">
                        <h2>F3 安心保险</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="creditCard">
                <div class="W1180">
                    <div class="title">
                        <h2>F4 信用卡申请</h2>
                        <a href="#">查看更多<span class="iconfont icon-yincangxiangqing"></span></a>
                    </div>
                    <div class="listWarp">
                        <div class="list">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="sideNav"></div>
        </div>
    </div>
    <div class="footer"></div>
    <div class="nav_cebian">
        <ul>
            <li>
                <a href="#" class="first">
                    <div>
                        优惠专区
                    </div>
                    <span class="img"></span>
                </a>

            </li>
            <li>
                <a href="#" class="cr">
                    <div>
                        急速贷款
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="cr">
                    <div>
                        精明理财
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="cr">
                    <div>
                        安心保险
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="cr">
                    <div class="xw">
                        信用卡申请
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        扫码下载
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div>
                        客户反馈
                    </div> 
                </a>
            </li>
            <li>
                <a href="#" class="totop">
                    <div>
                        <span class="iconfont icon-arrow-up"></span>
                        顶部
                    </div>
                </a>
            </li>
        </ul>
    </div>
<script src="../static/scripts/require.js" data-main="../static/scripts/index"></script>
</body>
</html>