<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>客户服务</title>
	<link rel="stylesheet" type="text/css" href="../static/sass/base.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/public.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/service.css">
	<link rel="stylesheet" type="text/css" href="../static/sass/common_nav.css">
	<style type="text/css">
		body {
			overflow: scroll;
		}
	</style>
</head>

<body>
	<!--first nav end-->
	<div class="breadCrumb"><em><a href="http://www.pingan.com/" otitle="面包屑-首页"
				otype="button">首页</a></em><i>&gt;</i><span>客户服务</span></div>

	<div class="contentWrap">
		<div class="tabNav">
			<ul class="c">
				<li class="curr">联系我们</li>
				<li>微客服</li>
				<li>APP</li>
				<li>服务网点</li>
			</ul>
		</div>
		<div class="tabCont">
			<!-- 联系我们 Start -->
			<div class="tabItem">
				<!-- 电话客服 Start -->
				<div class="phoneService">
					<!--<a href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=PA_GW&post_id=" style="width: 110px;" otitle="在线客服" otype="button" class="db">
						<h3>在线客服</h3>
					</a>-->
					<div class="appService">
						<h3>意见反馈</h3>
						<div class="qrcodeAppBox">
							<img src="../static/images/app_su.png">
						</div>
					</div>
					<div class="inner c">
						<div class="branchPhoneArea">
							<h4>保险</h4>
							<dl>
								<dt><a href="http://life.pingan.com/customerService.html" target="_blank">寿险（个人）</a>
								</dt>
								<dd>95511转1<a
										href="http://eim.pingan.com.cn/web/webtalk?encryptStr=&businessType=SX_1&storeId=&subbiztype=&enterpage=%E5%AF%BF%E9%99%A9%E5%AE%98%E7%BD%91%E5%9C%A8%E7%BA%BF%E5%AE%A2%E6%9C%8D&urlAddr="
										target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank" otitle="联系我们-电话客服-寿险（团体）" otype="button">寿险（团体）</a></dt>
								<dd>95511转6转1<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">产险</a></dt>
								<dd>95511转5</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">健康险</a></dt>
								<dd>95511转7</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">养老险</a></dt>
								<dd>95511转6<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">网上车险</a></dt>
								<dd>4008000000<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">网上非车险</a></dt>
								<dd>4008000000<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>银行</h4>
							<dl>
								<dt><a href="http://bank.pingan.com/about/lianxiwomen.shtml" target="_blank">平安银行</a>
								</dt>
								<dd>95511转3</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">信用卡</a></dt>
								<dd>95511转2<a href="http://creditcard.pingan.com/yongkazhinan/zaixiankefu.shtml"
										target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">橙e网</a></dt>
								<dd>400-848-0888</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">普惠</a></dt>
								<dd>400-858-0580</dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>投资</h4>
							<dl>
								<dt><a href="#" target="_blank">证券</a></dt>
								<dd>95511转8<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">信托</a></dt>
								<dd>400-881-9888</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">资管</a></dt>
								<dd>400-886-6338</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">期货</a></dt>
								<dd>400-888-8933</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">大华基金</a></dt>
								<dd>400-800-4800</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">陆金所</a></dt>
								<dd>400-866-6618<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
						</div>
						<div class="branchPhoneArea">
							<h4>互联网＋</h4>
							<dl>
								<dt><a href="https://www.yqb.com/service/#/commonproblem/" target="_blank">壹钱包</a></dt>
								<dd>400-888-0999</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">财富宝</a></dt>
								<dd>400-180-8898</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安城科</a></dt>
								<dd>400-868-1111</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安好医生</a></dt>
								<dd>400-866-5858</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安万家医疗</a></dt>
								<dd>400-102-8120<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安众＋</a></dt>
								<dd>400-088-8818</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安优联通</a></dt>
								<dd>400-807-9111转2</dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">金融壹账通</a></dt>
								<dd>400-930-0567<a href="#" target="_blank" class="ico_service">在线客服</a></dd>
							</dl>
							<dl>
								<dt><a href="#" target="_blank">平安好贷</a></dt>
								<dd>1010-1188</dd>
							</dl>
						</div>
					</div>
				</div>
				<!-- 电话客服 End -->

			</div>
			<!-- 联系我们 End -->

			<!-- 微客服 Start -->
			<div class="tabItem dsn">
				<!-- .c:zoom =1 -->
				<ul class="microService c">
					<li>
						<img src="../static/images/zhongguopingan_su.jpg" alt="中国平安" />
						<div class="weChat">
							<h3>中国平安</h3>
							<h4>微信号：</h4>
							<h5>zhongguopingan_95511</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganrenshou_su.jpg" alt="平安人寿" />
						<div class="weChat">
							<h3>平安人寿</h3>
							<h4>微信号：</h4>
							<h5>pars95511</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganchanxian_su.jpg" alt="平安产险" />
						<div class="weChat">
							<h3>平安产险</h3>
							<h4>微信号：</h4>
							<h5>pack95511</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganchexian_su.jpg" alt="平安车险" />
						<div class="weChat">
							<h3>平安车险</h3>
							<h4>微信号：</h4>
							<h5>pingan_4008000000</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganbaoxian_su.jpg" alt="平安保险商城" />
						<div class="weChat">
							<h3>平安保险商城</h3>
							<h4>微信号：</h4>
							<h5>pabxsc</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganyanglao_su.jpg" alt="平安养老险" />
						<div class="weChat">
							<h3>平安养老险</h3>
							<h4>微信号：</h4>
							<h5>paylx95511</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganzhitong_su.jpg" alt="平安直通财富" />
						<div class="weChat">
							<h3>平安直通财富</h3>
							<h4>微信号：</h4>
							<h5>PAZTCFGL</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganbank_su.jpg" alt="平安银行" />
						<div class="weChat">
							<h3>平安银行</h3>
							<h4>微信号：</h4>
							<h5>pingan_bank</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganxinyongka_su.jpg" alt="平安银行信用卡" />
						<div class="weChat">
							<h3>平安银行信用卡</h3>
							<h4>微信号：</h4>
							<h5>paxyk95511</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganzhengquan_su.jpg" alt="平安证券" />
						<div class="weChat">
							<h3>平安证券</h3>
							<h4>微信号：</h4>
							<h5>pazhengquan2014</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganxintuo_su.jpg" alt="平安信托" />
						<div class="weChat">
							<h3>平安信托</h3>
							<h4>微信号：</h4>
							<h5>paxt4008895511</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pingancaifubao_su.jpg" alt="平安财富宝" />
						<div class="weChat">
							<h3>平安财富宝</h3>
							<h4>微信号：</h4>
							<h5>pacaifubao</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganpuhui_su.jpg" alt="平安普惠" />
						<div class="weChat">
							<h3>平安普惠</h3>
							<h4>微信号：</h4>
							<h5>pingan_10100000</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganqihuo_su.jpg" alt="平安期货微服务" />
						<div class="weChat">
							<h3>平安期货微服务</h3>
							<h4>微信号：</h4>
							<h5>paqhwfw</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganziguan_su.jpg" alt="平安资管" />
						<div class="weChat">
							<h3>平安资管</h3>
							<h4>微信号：</h4>
							<h5>PA_Asset_Management</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/dahuajijin_su.jpg" alt="平安大华基金" />
						<div class="weChat">
							<h3>平安大华基金</h3>
							<h4>微信号：</h4>
							<h5>pingandahua</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganbudongchan_su.jpg" alt="平安不动产" />
						<div class="weChat">
							<h3>平安不动产</h3>
							<h4>微信号：</h4>
							<h5>pinganBDC</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganzulin_su.jpg" alt="平安租赁" />
						<div class="weChat">
							<h3>平安租赁</h3>
							<h4>微信号：</h4>
							<h5>pinganleasing</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/jinrongyzt_su.jpg" alt="金融壹账通" />
						<div class="weChat">
							<h3>金融壹账通</h3>
							<h4>微信号：</h4>
							<h5>jinrong_yzt</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/yiqianbao_su.jpg" alt="壹钱包" />
						<div class="weChat">
							<h3>壹钱包</h3>
							<h4>微信号：</h4>
							<h5>my1qianbao</h5>
						</div>
					</li>

					<li>
						<img src="../static/images/pinganchengke_su.jpg" alt="平安城科" />
						<div class="weChat">
							<h3>平安城科</h3>
							<h4>微信号：</h4>
							<h5>pinganchengke</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganhaoyisheng_su.jpg" alt="平安好医生" />
						<div class="weChat">
							<h3>平安好医生</h3>
							<h4>微信号：</h4>
							<h5>pajkgj</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/pinganwjyl_su.jpg" alt="平安万家医疗" />
						<div class="weChat">
							<h3>平安万家医疗</h3>
							<!-- <h4>微信号：</h4>
			<h5></h5> -->
						</div>
					</li>
					<li>
						<img src="../static/images/pinganvip_su.jpg" alt="平安VIP俱乐部" />
						<div class="weChat">
							<h3>平安VIP俱乐部</h3>
							<h4>微信号：</h4>
							<h5>jypash</h5>
						</div>
					</li>
					<li>
						<img src="../static/images/micropingan_su.png" alt="微平安" />
						<div class="weChat">
							<h3>微平安</h3>
							<h4>微信号：</h4>
							<h5>weipingan</h5>
						</div>
					</li>
				</ul>
			</div>
			<!-- 微客服 End -->
			<!-- APP Start -->
			<div class="tabItem dsn">
				<ul class="appArea c">
					<li>
						<a href="http://life.pingan.com/youhui/iPhoneApp/index.shtml" target="_blank">
							<img src="../static/images/jinguanjia_su.png" alt="平安金管家" />
							<div class="desc">
								<h3>平安金管家</h3>
								<p>值得托付的金融生活管理专家</p>
							</div>
						</a>
					</li>
					<li>
						<a href="https://m.health.pingan.com/app/download/download_pc.html?from=m_h5" target="_blank"
							<img src="../static/images/pinganjiankang_su.png" alt="平安健康" />
						<div class="desc">
							<h3>平安健康</h3>
							<p>国内首个专注移动健康保障的app</p>
						</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/bxsc_su.png" alt="平安保险商城" />
							<div class="desc">
								<h3>保险商城</h3>
								<p>手机买保险就选平安保险商城</p>
							</div>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<img src="../static/images/payh_su.png" alt="平安银行" />
							<div class="desc">
								<h3>平安银行</h3>
								<p>平安银行官方移动网银</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pinganzhengquan_su.png" alt="平安证券" />
							<div class="desc">
								<h3>平安证券</h3>
								<p>您的一站式理财平台</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/ljs_su.png" alt="陆金所" />
							<div class="desc">
								<h3>陆金所</h3>
								<p>AAA级投资理财平台</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pingancaifubao_su.png" alt="平安财富宝" />
							<div class="desc">
								<h3>平安财富宝</h3>
								<p>指尖上的私人财富管家</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pinganpuhui_su.png" alt="平安普惠" />
							<div class="desc">
								<h3>平安普惠</h3>
								<p>最高贷你500万，全程APP申请</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/huashenglicai_su.png" alt="花生理财" />
							<div class="desc">
								<h3>花生理财</h3>
								<p>让赚钱变得更加简单</p>
							</div>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pinganqihuo_su.png" alt="平安期货" />
							<div class="desc">
								<h3>平安期货</h3>
								<p>在线开户更方便</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/yqb_su.png" alt="壹钱包" />
							<div class="desc">
								<h3>壹钱包</h3>
								<p>为每一分钱创造价值</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pays_su.png" alt="平安好医生" />
							<div class="desc">
								<h3>平安好医生</h3>
								<p>平安旗下健康管理专家</p>
							</div>
						</a>
					</li>

					<li>
						<a href="#" target="_blank">
							<img src="../static/images/pinganhaochezhu_su.png" alt="平安好车主" />
							<div class="desc">
								<h3>平安好车主</h3>
								<p>您的行车好帮手</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/wanjiayiliao_su.png" alt="万家医疗" />
							<div class="desc">
								<h3>万家医疗</h3>
								<p>随身的移动互联网诊所</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#/" target="_blank">
							<img src="../static/images/ylt_su.png" alt="平安wifi" />
							<div class="desc">
								<h3>优联通</h3>
								<p>免费WiFi想上就上</p>
							</div>
						</a>
					</li>
					<li>
						<a href="#" target="_blank">
							<img src="../static/images/plus_su.png" alt="平安+" />
							<div class="desc">
								<h3>平安+</h3>
								<p>平安金融科技体验平台</p>
							</div>
						</a>
					</li>
				</ul>
			</div>
			<!-- APP End -->
			<!-- 服务网点 Start -->
			<div class="tabItem dsn">
				<div class="serviceNetwork">
					<h3>服务网点</h3>
					<ul class="c">
						<li><a href="http://life.pingan.com/kehufuwu/fuwugongju/kehufuwuzhongxin.shtml"
								target="_blank">寿险</a></li>
						<li><a href="http://www.pingan.com/property_insurance/pa18AutoInquiry/mapIndex.do"
								target="_blank">产险</a></li>
						<li><a href="#" target="_blank">养老险</a></li>
						<li><a href="#" target="_blank">健康险</a></li>
						<li><a href="#" target="_blank">平安银行</a></li>
						<li><a href="#" target="_blank">平安证券</a></li>
						<li><a href="#" target="_blank">平安期货</a></li>
						<li><a href="#" target="_blank">平安好房</a></li>
					</ul>
				</div>
			</div>
			<!-- 服务网点 End -->
		</div>
	</div>
	<script src="../static/scripts/jquery.js"></script>
	<script src="../static/scripts/tab.js"></script>
</body>

</html>