<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>平安保险</title>
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="../css/insurance.css">
</head>
<body>
<div class="loginbar_r">
    <div class="main">
        <div class="welcome_r">
            <p>欢迎访问平安官网</p>
            <p>一账通</p>
            <a href="#">登陆</a>
            <a href="#">注册</a>
        </div>
    </div>
</div>
<div class="header_r">
    <div class="main">

    </div>
</div>





<script src="../js/insurance.js"></script>
</body>
</html>