<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>一账通登录</title>
    <!-- <link rel="stylesheet" href="../static/css/base.css"> -->
    <link rel="stylesheet" href="../static/css/login.css">
</head>

<body>
    <div class="wrapper">
        <div class="bg">
            <video class="my-video" autoplay="autoplay" loop="loop" muted="muted" style="width: 100%;
            height:100%;object-fit: fill;">
                <source src="../static/images/pic_su/bgmv_su.mp4" type="video/ogg">
            </video>
        </div>
        <div class="logo">
            <img src="../static/images/pic_su/下载11_su.png" alt="">
        </div>
        <div class="bottom">
            <div class="phone">
                <img src="../static/images/pic_su/下载22_su.png" alt="">
            </div>
            <div class="txt">
                <p>版权所有©中国平安保险（集团）股份有限公司 未经许可不得复制、转载或摘编，违者必究</p>
                <p>Copyright© PING AN INSURANCE(GROUP)COMPANY OF CHINA,LTD.ALL Rights Reserved.</p>
                <p>ICP许可证号 粤ICP备06118290号</p>
            </div>
            <div class="ewm">
                <img src="../static/images/pic_su/下载3.png" alt="">
            </div>
        </div>
        <div class="main">
            <p class="statictxt">一账通用户登录</p>
            <div class="input-group">
                <span>用户名</span>
                <input class="user" name="user" type="text" placeholder="请输入登录用户名">
            </div>
            <div class="input-group">
                <span>密码</span>
                <input class="pass" name="pass" type="password" placeholder="请输入登录密码">
            </div>
            <div class="test">
                <div class="left">
                    <div class="yanztxt">

                    </div>
                    <div class="canvaspic">
                        <canvas width="150" height="50" class="cvs">

                        </canvas>
                    </div>

                </div>
                <input type="text" class="testtxt" placeholder="请输入验证码">
                <span class="change">看不清？换一张</span><span class="no">不区分大小写</span>
            </div>
            <button class="login">登录</button>
            <a href="./regist.html" target="_blank">小主还没有账号吗？赶快戳我注册一个吧！</a>
        </div>
    </div>


    </div>
    <script src="../static/scripts/jquery.js"></script>
    <script src="../static/scripts/ajax.js"></script>
    <script src="../static/scripts/login.js"></script>
</body>

</html>