<div class="loginbar_r">
    <div class="main">
        <div class="welcome_r">
            <p>欢迎访问平安官网</p>
            <p>一账通</p>
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
        <ul>
            <li><a href="#"><span class="iconfont">&#xe635;</span>APP下载</a></li>
            <li>
                <a href="#"><span class="iconfont">&#xe7e5;</span>关注微信</a>
                <div class="qrcode">
                    <img src="../static/images/025_r.jpg" alt="">
                    <p>平安官网微信公众号</p>
                </div>
            </li>
            <li><a href="#"><span class="iconfont">&#xe658;</span>客户服务</a></li>
            <li>
                <a href="#">网站地图<span class="iconfont">&#xe629;</span></a>
                <div class="webmap">
                    <div class="webmap-left">
                        <h4>集团官网</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">关于平安</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">企业社会责任</a></li>
                            <li><a href="#">平安新闻</a></li>
                            <li><a href="#">平安研究</a></li>
                            <li><a href="#">人才招聘</a></li>
                        </ol>
                        <ol>
                            <li><a href="#">平安VIP</a></li>
                            <li><a href="#">集团APP大全</a></li>
                            <li><a href="#">公众号大全</a></li>
                            <li><a href="#">联系我们</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <h4>电商网站</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">关于平安</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">企业社会责任</a></li>
                            <li><a href="#">平安新闻</a></li>
                            <li><a href="#">平安研究</a></li>
                            <li><a href="#">人才招聘</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <h4>电商网站</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">关于平安</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">企业社会责任</a></li>
                            <li><a href="#">平安新闻</a></li>
                            <li><a href="#">平安研究</a></li>
                            <li><a href="#">人才招聘</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <h4>银行</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">平安银行</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <h4>投资</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">平安银行</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">企业社会责任</a></li>
                            <li><a href="#">平安新闻</a></li>
                            <li><a href="#">平安研究</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <ol style="margin-top: 50px;">
                            <li><a href="#">平安资产管理</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <h4>科技业务</h4>
                        <div class="mapline"></div>
                        <ol>
                            <li><a href="#">平安银行</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">投资者关系</a></li>
                            <li><a href="#">企业社会责任</a></li>
                            <li><a href="#">平安新闻</a></li>
                            <li><a href="#">平安研究</a></li>
                        </ol>
                    </div>
                    <div class="webmap-right">
                        <ol style="margin-top: 50px;">
                            <li><a href="#">平安科技</a></li>
                            <li><a href="#">平安医疗健康管理</a></li>
                            <li><a href="#">平安金服</a></li>
                        </ol>
                    </div>
                </div>
            </li>
            <li style="border-right: 1px solid #f2f2f2;"><a href="#">集团APP大全</a></li>
        </ul>
    </div>
</div>
<div class="header_r">
    <div class="main">
        <div class="logo">
            <a href="#"><img src="../static/images/002_r.png" alt=""></a>
        </div>
        <ul>
            <li><a href="#">首页</a></li>
            <li class="wealthbox">
                <a href="#">理财</a>
                <div class="wealth">
                    <div class="box">
                        <a href="#"><img src="../static/images/003_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/004_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/005_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/006_r.png" alt=""></a>
                    </div>
                </div>
            </li>
            <li><a href="#">贷款</a></li>
            <li class="insurbox">
                <a href="#">保险</a>
                <div class="insur">
                    <div class="box">
                        <a href="#"><img src="../static/images/007_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/008_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/009_r.png" alt=""></a>
                        <a href="#"><img src="../static/images/010_r.png" alt=""></a>
                    </div>
                </div>
            </li>
            <li><a href="#">信用卡</a></li>
            <li><a href="#">920专区</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="平安APP">
            <a href="#" class="iconfont">&#xe63d;</a>
            <div class="hotkey">
                <i>热搜词:</i><a href="#">少儿医疗保险</a><a href="#">中老年医疗</a><a href="#">短期综合意外险</a>
            </div>
        </div>
    </div>
</div>