<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>平安官网会员</title>
    <link rel="stylesheet" href="../static/sass/vip_su.css">
    <link rel="stylesheet" href="../static/sass/base.css">
</head>

<body>
    <div class="center-wrap">
        <div class="center-header">
            <div class="left-nav">
                <div class="user-info">
                    <div class="photo">
                        <img src="../static/images/photo-3b6d3d26a6_su.png" alt="">
                    </div>
                    <div class="login-regist">
                        <h3>欢迎使用会员中心</h3>
                        <div class="handle">
                            <span>一账通</span>
                            <a href="#">注册</a>
                            <a href="#">登录</a>
                        </div>
                    </div>
                </div>
                <div class="nav-list">
                    <ul>
                        <li class="list-item four1 show">
                            <a href="#" class="list-url ">
                                <span class="icon bg f"></span>
                                <span class="tit">保单服务</span>
                            </a>
                            <div class="second-nav">
                                <span class="close"></span>
                                <div class="hot-tit">
                                    <a href="#">保单查询</a><a href="#">自助卡激活</a>
                                </div>
                                <div class="hot-insurance">
                                    <span class="hot-item">热门保险></span>
                                    <a href="#" class="hot-item">寿险</a>
                                    <a href="#" class="hot-item">健康险</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item four2 show">
                            <a href="#" class="list-url">
                                <span class="icon bg s"></span>
                                <span class="tit">网银服务</span>
                            </a>
                            <div class="second-nav">
                                <span class="close"></span>
                                <div class="hot-tit">
                                    <a href="#" class="hot-item">余额查询</a>
                                    <a href="#" class="hot-item">银行网点</a>
                                    <a href="#" class="hot-item">个人网银</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-item four3 show">
                            <a href="#" class="list-url">
                                <span class="icon bg t"></span>
                                <span class="tit">贷款服务</span>
                            </a>
                            <div class="second-nav">
                                <span class="close"></span>
                                <div class="loan-tit">
                                    <div class="quick">快至<span class="time">3分钟</span>的急速贷款
                                    </div>

                                </div>
                                <div class="loan-form">
                                    <div class="form-inline">
                                        <input type="text" class="usename" value="请输入姓名">
                                    </div>
                                    <div class="form-inline">
                                        <input type="text" class="phone" value="请输入手机号码">
                                        <span class="now">立即贷款</span>
                                    </div>
                                    <div class="form-inline">
                                        <label>
                                            <input type="checkbox" checked="checked" class="chk">
                                            <img src="../static/images/chked-2ec99a30c3_su.png" alt="">
                                            <span class="read">已经阅读</span>
                                        </label>
                                        <a href="#" class="safe">安全条款</a>
                                        <span class="secret">隐私将严格守密</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-item four4 show">
                            <a href="#" class="list-url">
                                <span class="icon bg fo "></span>
                                <span class="tit">信用卡服务</span>
                            </a>
                            <div class="second-nav">
                                <span class="close"></span>
                                <div class="hot-tit">
                                        <a href="#">信用卡激活</a><a href="#">自助卡激活</a>
                                    </div>
                                    <div class="hot-insurance">
                                        <span class="hot-item">信用卡服务></span>
                                        <a href="#" class="hot-item">免年费</a>
                                    </div>
                            </div>
                        </li>
                        <li class="list-item five">
                            <a href="#" class="list-url">
                                <div class="icon-wrap ">
                                    <img src="../static/images/15391548857235_su.png" alt="证券开户s" class="icon s">
                                    <img src="../static/images/15391548910735_su.png" alt="证券开户h" class="icon h">
                                </div>
                                <span class="tit">证券开户</span>
                            </a>
                        </li>
                        <li class="list-item five">
                            <a href="#" class="list-url">
                                <div class="icon-wrap ">
                                    <img src="../static/images/15391548061669_su.png" alt="证券开户s" class="icon s">
                                    <img src="../static/images/15391548127095_su.png" alt="证券开户h" class="icon h">
                                </div>
                                <span class="tit">优惠专区</span>
                            </a>
                        </li>
                        <li class="list-item five">
                            <a href="#" class="list-url">
                                <div class="icon-wrap ">
                                    <img src="../static/images/15391544338272_su.png" alt="证券开户s" class="icon s">
                                    <img src="../static/images/15391544380553_su.png" alt="证券开户h" class="icon h">
                                </div>
                                <span class="tit">车险报价</span>
                            </a>
                        </li>
                        <li class="list-item five">
                            <a href="#" class="list-url">
                                <div class="icon-wrap ">
                                    <img src="../static/images/15391546401381_su.png" alt="证券开户s" class="icon s">
                                    <img src="../static/images/15391546451342_su.png" alt="证券开户h" class="icon h">
                                </div>
                                <span class="tit">客服中心</span>
                            </a>
                        </li>
                        <li class="list-item five">
                            <a href="#" class="list-url">
                                <div class="icon-wrap ">
                                    <img src="../static/images/15391546936621_su.png" alt="证券开户s" class="icon s">
                                    <img src="../static/images/15391546892049_su.png" alt="证券开户h" class="icon h">
                                </div>
                                <span class="tit">APP下载</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-banner">
                <img src="../static/images/15396849251414_su.jpg" alt="">
            </div>
        </div>
        <div class="new-topic">
            <div class="topic-tit">
               <img src="../static/images/1539685219629_su.png" alt=""> 
               <span class="tit">本期主题:关爱家人健康</span>
            </div>
            <div class="listpic-wrap">
                <ul class="listpic">
                    <li><a href="#"><img src="../static/images/15396846856271_su.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/images/15396848823213_su.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/images/15396848451757_su.png" alt=""></a></li>
                    <li><a href="#"><img src="../static/images/15396847858485_su.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="../static/scripts/jquery.js"></script>
    <script src="../static/scripts/vip.js"></script>
</body>

</html>