<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
<link rel="stylesheet" href="../static/css/iconfont.css">
<link rel="stylesheet" href="../static/css/wealth.css">
</head>
<body>
<div id="head"></div>
<div class="con_r">
    <div class="main">
        <div class="content">
            <div class="content-left">
                <div class="content-weal">
                    <a href="#">
                        <img src="../static/images/058_r.png" alt="">
                    </a>
                    <div class="ntn"></div>
                </div>
                <ul class="content-nav">
                    <li>
                        <a top="678">稳健理财</a>
                        <i></i>
                    </li>
                    <li>
                        <a top="1138">灵活存取</a>
                        <i></i>
                    </li>
                    <li>
                        <a top="1598">精选基金</a>
                        <i></i>
                    </li>
                    <li>
                        <a top="2058">优选产品</a>
                        <i></i>
                    </li>
                </ul>
            </div>
            <div class="banner">
                <a href="#"><img src="../static/images/061_r.jpg" alt=""></a>
                <a href="#"><img src="../static/images/022_r.png" alt=""></a>
                <div class="left_r"><i></i></div>
                <div class="right_r"><i></i></div>
                <ul>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="con-right">
                <img src="../static/images/062_r.jpg" alt="">
                <a href="#">立即申请</a>
            </div>
            <ul class="con-bottom">
                <li><a href="#">
                    <img src="../static/images/066_r.jpg" alt="">
                </a></li>
                <li><a href="#">
                    <img src="../static/images/065_r.jpg" alt="">
                </a></li>
                <li><a href="#">
                    <img src="../static/images/064_r.jpg" alt="">
                </a></li>
            </ul>
        </div>
        <div class="group">
            <div class="group-title">
                <div class="left-line"></div>
                <h3>定期</h3>
                <p>期限丰富 , 收益好</p>
            </div>
            <div class="group-con">
                <div class="group-left">
                    <h2>和盈滚滚添利60</h2>
                    <h1>4.30<span>%</span></h1>
                    <p>业绩比较基准</p>
                    <p>中低风险 , 起息快</p>
                    <a href="#">立即申请</a>
                </div>
                <div class="group-mid">
                    <dl>
                        <dt>
                            <div class="mid-type">
                                <h4>和盈滚滚添利90</h4>
                                <p>中低风险</p>
                            </div>
                            <div class="mid-num">
                                <h5>4.28<span>%</span></h5>
                                <p>业绩比较基准</p>
                            </div>
                        </dt>
                        <dd>
                            <a href="#">立即抢购</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <div class="mid-type">
                                <h4>稳盈30天</h4>
                                <p>1千元起投</p>
                            </div>
                            <div class="mid-num">
                                <h5>3.95<span>%</span></h5>
                                <p>七日年化收益率</p>
                            </div>
                        </dt>
                        <dd>
                            <a href="#">立即抢购</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            <div class="mid-type">
                                <h4>智慧滚滚添利</h4>
                                <p>非保本浮动收益</p>
                            </div>
                            <div class="mid-num">
                                <h5>4.31<span>%</span></h5>
                                <p>业绩比较基准</p>
                            </div>
                        </dt>
                        <dd>
                            <a href="#">立即抢购</a>
                        </dd>
                    </dl>
                </div>
                <div class="group-right">
                    <div class="right-title">
                        <div class="line"></div>
                        <h6>算算你能赚多少</h6>
                        <div class="line"></div>
                    </div>
                    <div class="count">
                        <ul>
                            <li>
                                <input type="text">
                                <p>投资金额</p>
                                <span>元</span>
                            </li>
                            <li>
                                <input type="text">
                                <p>预期收益率(年)</p>
                                <span>%</span>
                            </li>
                            <li>
                                <input type="text">
                                <p>投资天数</p>
                                <span>天</span>
                            </li>
                        </ul>
                        <div class="selday">
                            <span>360</span>
                            <span class="on">365</span>
                            <p>基本天数</p>
                        </div>
                        <div class="sub">
                            <div class="reset">重置</div>
                            <div class="submit">提交</div>
                        </div>
                    </div>
                    <div class="result">
                        <em>计算结果:</em>
                        <ul>
                            <li>
                                <p class="txt">投资金额</p>
                                <p class="res">dsffdf</p>
                            </li>
                            <li>
                                <p class="txt">七日年化</p>
                                <p class="res"></p>
                            </li>
                            <li>
                                <p class="txt">理财天数</p>
                                <p class="res"></p>
                            </li>
                            <li>
                                <p class="txt">基本天数</p>
                                <p class="res"></p>
                            </li>
                            <li>
                                <p class="txt">收益金额</p>
                                <p class="res"></p>
                            </li>
                            <li>
                                <p class="txt">总计</p>
                                <p class="res"></p>
                            </li>
                        </ul>
                        <div class="sub">
                            <div class="back">重新计算</div>
                            <div class="invest">立即投资</div>
                        </div>
                    </div>
                    <div class="prompt"></div>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="group-title">
                <div class="left-line"></div>
                <h3>活期</h3>
                <p>闲钱增值 , 灵活便捷</p>
            </div>
            <div class="group-con">
                <div class="group-left">
                    <h2>和盈步步添利</h2>
                    <h1>4.15<span>%</span></h1>
                    <p>业绩比较基准</p>
                    <p>持有越久 , 收益越高</p>
                    <a href="#">立即申请</a>
                </div>
                <div class="right2">
                    <ul class="right2-ul">
                        <div class="ul-left">
                            <li>
                                <h3>智能日添利</h3>
                                <p>灵活存取 低风险</p><br>
                                <h4>2.95<span>%</span></h4>
                                <p>预期年化收益率</p>
                                <a href="#">立即抢购</a>
                            </li>
                            <li>
                                <h3>平安盈南方天天利</h3>
                                <p>每天收益看得见</p><br>
                                <h4>2.90<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                        </div>
                        <div class="ul-right">
                            <li>
                                <h3>天天成长B款</h3>
                                <p>T+0赎回200万</p><br>
                                <h4>3.85<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                            <li>
                                <h3>平安盈诺安天天宝</h3>
                                <p>1分起购,小钱也能赚收益</p><br>
                                <h4>3.85<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="group-title">
                <div class="left-line"></div>
                <h3>基金</h3>
                <p>精选基金 , 放心购</p>
            </div>
            <div class="group-con">
                <div class="group-left">
                    <h2>平安大华短债A类</h2>
                    <h1>1.0240<span>%</span></h1>
                    <p>日涨幅</p>
                    <p>100元起购，中低风险</p>
                    <a href="#">立即申请</a>
                </div>
                <div class="right2">
                    <ul class="right2-ul">
                        <div class="ul-left">
                            <li>
                                <h3>智能日添利</h3>
                                <p>灵活存取 低风险</p><br>
                                <h4>2.95<span>%</span></h4>
                                <p>预期年化收益率</p>
                                <a href="#">立即抢购</a>
                            </li>
                            <li>
                                <h3>平安盈南方天天利</h3>
                                <p>每天收益看得见</p><br>
                                <h4>2.90<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                        </div>
                        <div class="ul-right">
                            <li>
                                <h3>天天成长B款</h3>
                                <p>T+0赎回200万</p><br>
                                <h4>3.85<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                            <li>
                                <h3>平安盈诺安天天宝</h3>
                                <p>1分起购,小钱也能赚收益</p><br>
                                <h4>3.85<span>%</span></h4>
                                <p>七日年化收益</p>
                                <a href="#">立即抢购</a>
                            </li>
                        </div>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="group">
            <div class="group-title">
                <div class="left-line"></div>
                <h3>优选产品+</h3>
                <p>多种期限，锁定收益</p>
            </div>
            <div class="group-con">
                <div class="group-left">
                    <h2>智能日添利</h2>
                    <h1>3.10<span>%</span></h1>
                    <p>预期年化收益率</p>
                    <p>存取灵活，风险低</p>
                    <a href="#">立即申请</a>
                </div>
                <div class="group-bot">
                    <ul class="pic">
                        <li>
                            <img src="../static/images/073_r.jpg" alt="">
                            <a href="#">立即抢购</a>
                        </li>
                        <li>
                            <img src="../static/images/074_r.jpg" alt="">
                            <a href="#">立即抢购</a>
                        </li>
                        <li>
                            <img src="../static/images/075_r.jpg" alt="">
                            <a href="#">立即抢购</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="foot"></div>




<div class="fixed">
    <ul>
        <li class="fixed1">
            <div class="fixopen">
                <img src="../static/images/054_r.png" alt="">
                <p>平安+PLUS APP</p>
                <div class="fixline"></div>
                <img src="../static/images/055_r.png" alt="">
                <p>平安官网微信公众号</p>
            </div>
        </li>
        <li class="fixed2">
            <a href="#">
                <i></i>
                <p>在线</br>客服</p>
            </a>
        </li>
        <li class="fixed3">
            <i></i>
            <p>返回</br>顶部</p>
        </li>
    </ul>
</div>


<!-- <script src="../static/scripts/jquery.js"></script> -->
<!-- <script src="../static/scripts/wealth.js"></script> -->
<script src="../static/scripts/require.js" data-main="../static/scripts/wealth"></script>
</body>
</html>